<!-- ================ start banner area ================= -->
<section class="blog-banner-area" id="category">
  <div class="container h-100">
    <div class="blog-banner">
      <section>
        <div class="content">
          <h4>Twobee Shop</h4>
          <p>Sứ mệnh của chúng tôi là cung cấp những sản phẩm giày chất lượng cao, đa dạng về kiểu dáng và
            phong cách, đồng thời tạo ra trải nghiệm mua sắm trực tuyến tuyệt vời, giúp khách hàng tự tin và
            nổi bật trong mọi bước đi.</p>
        </div>
        <div class="swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <img src="../../assets/shop/images/gallery/r1.jpg" alt="">
              <div class="prrice">12,000,000 VND</div>
              <div class="overlay">
                <h3>Thương hiệu sản phẩm</h3>
                <p>Mã sản phẩm</p>
                <p>Mô tả</p>
                <div class="details">
                  <p>Sản phẩm 5 sao</p>
                </div>
              </div>
            </div>

            <div class="swiper-slide">
              <img src="../../assets/shop/images/gallery/r2.jpg" alt="">
              <div class="prrice">12,000,000 VND</div>
              <div class="overlay">
                <h3>Thương hiệu sản phẩm</h3>
                <p>Mã sản phẩm</p>
                <p>Mô tả</p>
                <div class="details">
                  <p>Sản phẩm 5 sao</p>
                </div>
              </div>
            </div>

            <div class="swiper-slide">
              <img src="../../assets/shop/images/gallery/r3.jpg" alt="">
              <div class="prrice">12,000,000 VND</div>
              <div class="overlay">
                <h3>Thương hiệu sản phẩm</h3>
                <p>Mã sản phẩm</p>
                <p>Mô tả</p>
                <div class="details">
                  <p>Sản phẩm 5 sao</p>
                </div>
              </div>
            </div>

            <div class="swiper-slide">
              <img src="../../assets/shop/images/gallery/r4.jpg" alt="">
              <div class="prrice">12,000,000 VND</div>
              <div class="overlay">
                <h3>Thương hiệu sản phẩm</h3>
                <p>Mã sản phẩm</p>
                <p>Mô tả</p>
                <div class="details">
                  <p>Sản phẩm 5 sao</p>
                </div>
              </div>
            </div>

          </div>
        </div>
      </section>

    </div>
  </div>
</section>
<!-- ================ end banner area ================= -->
<!-- ================ category section start ================= -->
<section class="section-margin--small mb-5" ng-controller="ProductController">
  <div class="container">
    <div class="row">
      <div class="col-xl-3 col-lg-4 col-md-5">
        <div class="sidebar-filter mt-0">
          <div class="top-filter-head">Lọc sản phẩm</div>
          <div class="common-filter">
            <div class="head">Nhãn hiệu</div>
            <form action="#">
              <ul>
                <li ng-repeat="brand in listBrands" class="filter-list">
                  <input class="pixel-checkbox" type="checkbox" id="{{brand.nameBrand}}+{{brand.brandId}}" name="brand"
                    ng-click="toggleBrandFilter(brand.nameBrand)">
                  <label for="{{brand.nameBrand}}+{{brand.brandId}}">
                    {{brand.nameBrand}}
                    <span>({{ countAllProductInBrand(brand.nameBrand) }})</span>
                  </label>
                </li>
              </ul>
            </form>
          </div>
          <div class="common-filter">
            <div class="head">Màu sắc</div>
            <form action="#">
              <ul>
                <li ng-repeat="color in listColors" class="filter-list">
                  <input class="pixel-checkbox" type="checkbox" id="{{color.colorName}}+{{color.colorId}}" name="color"
                    ng-click="toggleColorFilter(color.colorName)">
                  <label for="{{color.colorName}}+{{color.colorId}}">
                    {{color.colorName}}
                    <span>({{ countAllProductInColor(color.colorName) }})</span>
                  </label>
                </li>
              </ul>
            </form>
          </div>
          <div class="common-filter">
            <div class="head">Giá sản phẩm</div>
            <div class="price-range-area pt-1">
              <input type="text" placeholder="Giá sản phẩm" ng-change="filterByProductPrice()"
                ng-model="searchProductPrice">
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-9 col-lg-8 col-md-7">
        <div class="d-flex justify-content-between align-items-center p-3 mb-3" style="background: #f1f6f7;">
          <div class="navigation-proudct">
            <nav aria-label="Page navigation example" ng-include="'../../component/shop/paginationProduct.html'"></nav>
          </div>
          <div class="input-group-search">
            <div class="input-group filter-bar-search">
              <input type="text" placeholder="Tìm kiếm sản phẩm" ng-change="filterByProductName()"
                ng-model="searchProductName">
              <div class="input-group-append">
                <button type="button" ng-click="filterByProductName()"><i class="ti-search"></i></button>
              </div>
            </div>
          </div>
        </div>
        <!-- End Filter Bar -->
        <!-- Start Best Seller -->
        <section class="lattest-product-area pb-40 category-list">
          <div class="row">
            <div class="col-md-6 col-lg-4" ng-repeat="product in listProducts|limitTo:pageSize:begin">
              <div class="card text-center card-product">
                <div class="card-product__img">
                  <img class="card-img" src="../../assets/shop/images/product/{{product.imageNames[0]}}" alt="">
                  <ul class="card-product__imgOverlay">
                    <li><button><i class="ti-shopping-cart"></i></button></li>
                    <li><button><i class="ti-heart"></i></button></li>
                    <li><button ng-click="redirectToSingleProduct(product.product.productId)"><i
                          class="ti-arrow-right"></i></button></li>
                  </ul>
                </div>
                <div class="card-body">
                  <div class="d-flex">
                    <p>{{ product.brandName }}</p>
                  </div>
                  <div class="d-flex">
                    <h6 title="{{ product.product.productName}}" class="card-product__title">
                      <a href="#!/shop/single-product/{{ product.product.productId}}">
                        {{ product.product.productName |truncateWordsHTML:8 }}
                      </a>
                    </h6>
                  </div>
                  <div class="d-flex align-items-center justify-content-between">
                    <p class="card-product__price">{{ product.product.price |formatPrice }}</p>
                    <span class="card-product__discout__price">{{ product.discountedPrice |formatPrice }}</span>
                  </div>
                  <div class="card-product__size d-flex">
                    <p>Size: </p>
                    <!-- <span ng-repeat="size in product.sizeName">{{size}}</span> -->
                    <span>{{product.sizeName.length}} size</span>
                  </div>
                  <div class="card-product__color d-flex">
                    <p>Màu sắc: </p>
                    <span ng-repeat="color in product.colorName" ng-style="{'background-color': color}"></span>
                  </div>
                </div>
                <div class="card-product-item-sale-off">
                  <span
                    class="card-product-item-sale-off-percent">{{calculateDiscountPercentage(product.product.price,product.discountedPrice)}}%</span>
                  <span class="card-product-item-sale-off-label">GIẢM</span>
                </div>
              </div>
            </div>
          </div>
          <nav aria-label="Page navigation example" ng-include="'../../component/shop/paginationProduct.html'">
          </nav>
        </section>
        <!-- End Best Seller -->
      </div>
    </div>
  </div>
</section>
<!-- ================ category section end ================= -->

<!-- ================ top product area start ================= -->
<section class="related-product-area" ng-include="'../../component/shop/topProductArea.html'">
</section>
<!-- ================ top product area end ================= -->

<!-- ================ Subscribe section start ================= -->
<section class="subscribe-position">
  <div class="container">
    <div class="subscribe text-center">
      <h3 class="subscribe__title">Get Update From Anywhere</h3>
      <p>Bearing Void gathering light light his eavening unto dont afraid</p>
      <div id="mc_embed_signup">
        <form target="_blank"
          action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
          method="get" class="subscribe-form form-inline mt-5 pt-1">
          <div class="form-group ml-sm-auto">
            <input class="form-control mb-1" type="email" name="EMAIL" placeholder="Enter your email"
              onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your Email Address '">
            <div class="info"></div>
          </div>
          <button class="button button-subscribe mr-auto mb-1" type="submit">Subscribe Now</button>
          <div style="position: absolute; left: -5000px;">
            <input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value="" type="text">
          </div>

        </form>
      </div>

    </div>
  </div>
</section>
<!-- ================ Subscribe section end ================= -->