<!--================ Hero banner start =================-->
<section class="hero-banner">
  <div class="container">
    <div class="row no-gutters align-items-center pt-60px">
      <div class="col-5 d-none d-sm-block">
        <div class="hero-banner__img">
          <img class="img-fluid" src="../../assets/shop/images/home/hero-banner.png" alt="">
        </div>
      </div>
      <div class="col-sm-7 col-lg-6 offset-lg-1 pl-4 pl-md-5 pl-lg-0">
        <div class="hero-banner__content">
          <h4>TwoBee Shop</h4>
          <h1>Bước đi tự tin, bước đi phong cách cùng Giày TwoBee</h1>
          <p>Chúng tôi tận tâm mang đến cho bạn những bước đi đầy phong cách và tự tin. Với mục tiêu làm cho mỗi bước
            chân của bạn trở nên đặc biệt, chúng tôi không ngừng tìm kiếm những sản phẩm chất lượng và đa dạng để đáp
            ứng mọi nhu cầu thời trang của bạn. Hãy để TwoBee là người bạn đồng hành tin cậy trong cuộc hành trình của
            bạn, từ bước đi hàng ngày đến những bước đi đặc biệt!</p>
          <a class="button button-hero" href="#!/shop/category">Mua ngay</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!--================ Hero banner start =================-->

<!--================ Hero Carousel start =================-->
<!-- <section class="section-margin mt-0">
  <div class="owl-carousel owl-theme hero-carousel">
    <div class="hero-carousel__slide">
      <img src="../../assets/shop/images/home/hero-slide1.png" alt="" class="img-fluid">
      <a href="#" class="hero-carousel__slideOverlay">
        <h3>Wireless Headphone</h3>
        <p>Accessories Item</p>
      </a>
    </div>
    <div class="hero-carousel__slide">
      <img src="../../assets/shop/images/home/hero-slide2.png" alt="" class="img-fluid">
      <a href="#" class="hero-carousel__slideOverlay">
        <h3>Wireless Headphone</h3>
        <p>Accessories Item</p>
      </a>
    </div>
    <div class="hero-carousel__slide">
      <img src="../../assets/shop/images/home/hero-slide3.png" alt="" class="img-fluid">
      <a href="#" class="hero-carousel__slideOverlay">
        <h3>Wireless Headphone</h3>
        <p>Accessories Item</p>
      </a>
    </div>
  </div>
</section> -->
<!--================ Hero Carousel end =================-->

<!-- ================ new arrival product section start ================= -->
<section class="section-margin calc-60px" ng-include="'../../component/shop/newArrivalProductArea.html'">
</section>
<!-- ================ new arrival product section end ================= -->


<!-- ================ offer section start ================= -->
<section class="offer" id="parallax-1" data-anchor-target="#parallax-1" data-300-top="background-position: 20px 30px"
  data-top-bottom="background-position: 0 20px">
  <div class="container">
    <div class="row hero-sale-up-to-section">
      <div class="col-xl-5">
        <div class="offer__content text-center">
          <h3>Up To 50% Off</h3>
          <h4>Săn Sale Ngay</h4>
          <p>Siêu sale thứ sáu hàng tuần</p>
          <a class="button button--active mt-3 mt-xl-4" href="#!/shop/category">Shop Now</a>
        </div>
      </div>
      <div class="col-xl-7 hero-sale-up-to-section-image">
        <img class="img-fluid" src="../../assets/shop/images/homeshoes.jpg" alt="">
      </div>
    </div>
  </div>
</section>
<!-- ================ offer section end ================= -->

<!-- ================ Best Selling item  carousel ================= -->
<section class="section-margin calc-60px" ng-include="'../../component/shop/topProductArea.html'">
</section>
<!-- ================ Best Selling item  carousel end ================= -->

<!-- ================ Blog section start ================= -->
<section class="blog" ng-include="'../../component/shop/latestNews.html'">

</section>
<!-- ================ Blog section end ================= -->

<!-- ================ Subscribe section start ================= -->
<section class="subscribe-position">
  <div class="container">
    <div class="subscribe text-center">
      <h3 class="subscribe__title">Nhận Thông Tin Mới Nhất</h3>
      <p>Chân bạn xứng đáng những bước đi đẹp đẽ - Theo dõi chúng tôi để không bỏ lỡ những ưu đãi và xu hướng mới nhất
        về giày!</p>
      <div id="mc_embed_signup">
        <form target="_blank"
          action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
          method="get" class="subscribe-form form-inline mt-5 pt-1">
          <div class="form-group ml-sm-auto">
            <input class="form-control mb-1" type="email" name="EMAIL" placeholder="Nhập email của bạn"
              onfocus="this.placeholder = ''" onblur="this.placeholder = 'Nhập email của bạn '">
            <div class="info"></div>
          </div>
          <button class="button button-subscribe mr-auto mb-1" type="submit">Đăng ký ngay</button>
          <div style="position: absolute; left: -5000px;">
            <input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value="" type="text">
          </div>

        </form>
      </div>

    </div>
  </div>
</section>
<!-- ================ Subscribe section end ================= -->