<div class="row p-3 d-flex align-items-center">
    <div class="col-lg-2">
        <a class="logo" href="/index.html" title="" aria-label="store logo">
            <img src="/assets/logos/logo.jpg">
        </a>
    </div>
    <div class="col-lg-6">
        <form action="" method="get">
            <div class="input-group">
                <div class="form-outline">
                    <input id="search-focus" type="text" class="form-control" placeholder="Tìm kiếm sản phẩm" name="q"
                        maxlength="128">
                </div>
                <button class="btn-red">Tìm kiếm</button>
            </div>
        </form>
    </div>
    <div class="col-lg-4">
        <div class="account-info">
            account
        </div>
        <div class="cart-info">
            cart
        </div>
        <div class="order-info">
            order
        </div>
    </div>
</div>
<div class="sections nav-sections">
    aaa
</div>