<div class="row p-3 d-flex align-items-center">
    <div class="col-lg-2">
        <a class="logo" href="/index.html" title="" aria-label="store logo">
            <img src="/assets/logos/logo.jpg">
        </a>
    </div>
    <div class="col-lg-5">
        <form action="" method="get">
            <div class="input-group">
                <div class="form-outline">
                    <input id="search-focus" type="text" class="form-control" placeholder="Tìm kiếm sản phẩm" name="q"
                        maxlength="128">
                </div>
                <button class="btn-red">Tìm kiếm</button>
            </div>
        </form>
    </div>
    <div class="col-lg-5">
        <ul class="d-grid">
            <li class="nav-info">
                <a class="nav-icon" href="#">
                    <i class="bi bi-person-circle"></i>
                </a>
                <div class="nav-text">
                    <p class="text-label">Tài khoản</p>
                    <a class="text-link" href="#">Đăng nhập</a>
                </div>
            </li>
            <li class="nav-info">
                <a class="nav-icon" href="#">
                    <i class="bi bi-cart3"></i>
                </a>
                <div class="nav-text">
                    <p class="text-label">Giỏ hàng</p>
                    <a class="text-link" href="#">0 Sản phẩm</a>
                </div>
            </li>
            <li class="nav-info">
                <a class="nav-icon" href="#">
                    <i class="bi bi-ticket-detailed"></i>
                </a>
                <div class="nav-text">
                    <p class="text-label">Đơn hàng</p>
                    <a class="text-link" href="#">Tra cứu</a>
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="sections nav-sections">
    aaa
</div>