<div class="container" ng-controller="NewArrivalProductAreaController">
    <div class="section-intro pb-60px">
        <p>Hàng mới về</p>
        <h2>Sản phẩm <span class="section-intro__style">Hot trend!!!</span></h2>
    </div>
    <div class="row">
        <div class="col-md-6 col-lg-4 col-xl-3 mb-3" ng-repeat="prod in listNewArrivalProduct | limitTo:8">
            <!-- <div class="card text-center card-product h-100">
                <div class="card-product__img">
                    <img class="card-img" src="../../assets/shop/images/product/{{prod.imageNames[0]}}" alt="">
                    <ul class="card-product__imgOverlay">
                        <li><button><i class="ti-shopping-cart"></i></button></li>
                        <li><button><i class="ti-heart"></i></button></li>
                        <li><button ng-click="redirectToSingleProduct(prod.product.productId)"><i
                                    class="ti-arrow-right"></i></button></li>
                    </ul>
                </div>
                <div class="card-body">
                    <h5 title="{{ prod.product.productName}}" class="card-product__title"><a
                            href="#!/shop/single-product/{{ prod.product.productId}}">{{ prod.product.productName
                            |truncateWordsHTML:4 }}</a></h5>
                    <p class="card-product__price">{{ prod.product.price |formatPrice }}</p>
                </div>
            </div> -->
            <div class="card text-center card-product h-100">
                <div class="card-product__img">
                    <img class="card-img" src="../../assets/shop/images/product/{{prod.imageNames[0]}}" alt="">
                    <ul class="card-product__imgOverlay">
                        <li><button><i class="ti-shopping-cart"></i></button></li>
                        <li><button><i class="ti-heart"></i></button></li>
                        <li><button ng-click="redirectToSingleProduct(prod.product.productId)"><i
                                    class="ti-arrow-right"></i></button></li>
                    </ul>
                </div>
                <div class="card-body d-flex flex-column justify-content-between">
                    <h6 title="{{ prod.product.productName}}" class="card-product__title w-100">
                        <a href="#!/shop/single-product/{{ prod.product.productId}}">{{ prod.product.productName }}</a>
                    </h6>
                    <p class="card-product__price">{{ prod.product.price | formatPrice }}</p>
                    <span class="card-product__discout__price">{{ prod.discountedPrice |formatPrice }}</span>
                </div>
                <div class="card-product__imgNewArrivalOverlay">
                    <img class="card-img-new-arrival" src="../../assets/shop/images/new-apprival.png" alt="">
                </div>
            </div>

        </div>
    </div>
</div>