<div class="row prod-card">
    <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="card">
            <!-- <i class="bi bi-suit-heart-fill"></i> -->
            <div class="cart-heart"> <i class="bi bi-suit-heart"></i></div>
            <!-- <i class="bi bi-cart-check-fill"></i> -->
            <div class="card-cart"><i class="bi bi-cart3"></i></div>
            <div class="card-image"></div>
            <div class="card-title"></div>
            <div class="card-price"></div>
            <div class="card-size"></div>
            <div class="card-color"></div>
            <div class="card-actions"></div>
        </div>
    </div>
</div>