.carousel {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.carousel .list-carousel .item-carousel {
    position: absolute;
    inset: 0 0 0 0;
}

.carousel .list-carousel .item-carousel img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel .list-carousel .item-carousel .content-carousel {
    position: absolute;
    background-color: aqua;
    top: 20%;
    left: 0;
    /* top: 20%;
    width: 1140px;
    max-width: 80%;
    left: -50%;
    transform: translateX(-50%);
    padding-right: 30%;
    box-sizing: border-box;
    color: #fff;
    text-shadow: 0 5px 10px #0004; */
}