:root {
    --black: #010101;
    --red-color: #ef3340;
    --yellow: #fced14;
    --text-primary-color: #fff;
    --white: #ededed;
}



.page-header {
    background: var(--black);
    z-index: 999;
    border: 0;
    position: sticky;
    top: 0;
}

.page-header .logo img {
    width: 80px;
    height: 80px;
}

.input-group {
    flex-wrap: nowrap;
}

.input-group input {
    width: 450px;
    background-color: #333;
}

.input-group input::placeholder {
    color: var(--white);
}

.btn-red {
    position: static;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    border-radius: 6px;
    background: #fced14;
    text-transform: uppercase;
    margin-left: 10px;
    transition: all .3s;
    white-space: nowrap;
    border: none;
}

.d-grid {
    position: relative;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    align-items: center;
}

.nav-info {
    position: relative;
    padding: 10px;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    font-size: 14px;
}

.nav-info a {
    text-decoration: none;
}

.nav-icon {
    font-size: 20px;
    line-height: 25px;
    color: var(--white) !important;
    background-color: #333;
    padding: 8px;
    border-radius: 6px;
    text-align: center;
}

.text-label {
    font-size: 10px;
    line-height: 16px;
    margin-bottom: 2px;
    text-wrap: nowrap;
    color: var(--white);
}

.text-link {
    color: var(--white);
    font-size: 12px;
    font-weight: 800;
    letter-spacing: .06px;
    text-wrap: nowrap;
}

.nav-sections {
    background-color: #333;
    line-height: 2;
}

.navigation {
    background: rgba(21, 155, 215, .1);
    font-size: 15px;
    font-weight: 500;
    height: inherit;
    left: auto;
    overflow: inherit;
    padding: 0;
    position: relative;
    top: 0;
    width: 100%;
}