:root {
    --black: #010101;
    --red-color: #ef3340;
    --yellow: #fced14;
    --text-primary-color: #fff;
    --white: #ededed;
    --bg-color: #333;
}



.page-header {
    background: var(--black);
    z-index: 999;
    border: 0;
    position: sticky;
    top: 0;
}

.page-header .logo img {
    width: 80px;
    height: 80px;
}

.input-group {
    flex-wrap: nowrap;
}

.input-group input {
    width: 500px;
    background-color: var(--bg-color);
}

.input-group input::placeholder {
    color: var(--white);
}

.input-group input:focus {
    background-color: var(--bg-color);

}

.btn-red {
    position: static;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    border-radius: 6px;
    background: var(--yellow);
    text-transform: uppercase;
    margin-left: 10px;
    transition: all .3s;
    white-space: nowrap;
    border: none;
}

.d-grid {
    position: relative;
    /* padding: 20px; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    align-items: center;
    margin: 0;
}


.nav-info {
    position: relative;
    padding: 10px;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    font-size: 14px;
}

.nav-info a {
    text-decoration: none;
}

.nav-icon {
    font-size: 20px;
    line-height: 25px;
    color: var(--white) !important;
    background-color: var(--bg-color);
    ;
    padding: 8px;
    border-radius: 6px;
    text-align: center;
}

.text-label {
    font-size: 10px;
    line-height: 16px;
    margin-bottom: 2px;
    text-wrap: nowrap;
    color: var(--white);
}

.text-link {
    color: var(--white);
    font-size: 12px;
    font-weight: 800;
    letter-spacing: .06px;
    text-wrap: nowrap;
}

.nav-sections {
    background-color: var(--bg-color);
}

.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
}

.navigation a {
    position: relative;
    display: inline-block;
    font-size: 0.75em;
    font-weight: 500;
    color: var(--white);
    text-decoration: none;
    padding: 0 25px;
    z-index: 999;
}

.navigation span {
    position: absolute;
    top: 0;
    left: 370px;
    width: 150px;
    height: 100%;
    background: linear-gradient(45deg, #4F1919, #ff3333);
    border-radius: 8px;
    transition: .5s;
}

.navigation a:nth-child(1):hover~span {
    left: 370px;
}

.navigation a:nth-child(2):hover~span {
    left: 543px;
    /* 370px+150px+23px */
}

.navigation a:nth-child(3):hover~span {
    left: 716px;
    width: 60px;
}

.navigation a:nth-child(4):hover~span {
    left: 776px;
    width: 60px;
}