.page-header {
    background: #010101;
    z-index: 999;
    border: 0;
    position: sticky;
    top: 0;
}

.page-header .logo img {
    width: 80px;
    height: 80px;
}

.input-group {
    flex-wrap: nowrap;
}

.form-outline .form-control {
    min-height: auto;
    padding-top: 0.32rem;
    padding-bottom: 0.32rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    border: 0;
    background: rgba(0, 0, 0, 0);
    transition: all .2s linear;
}