:root {
    --black: #010101;
    --red-color: #ef3340;
    --yellow: #ecd908;
    --text-primary-color: #fff;
}

body {
    color: #010101;
    font-family: 'SF-UI-Display', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    font-size: 1.4rem;
}

.page-header {
    background: var(--black);
    z-index: 999;
    border: 0;
    position: sticky;
    top: 0;
}

.page-header .logo img {
    width: 80px;
    height: 80px;
}

.input-group {
    flex-wrap: nowrap;
}

.input-group input {
    width: 350px;
}

.btn-red {
    background: var(--red-color);
    color: var(--text-primary-color);
    z-index: 999;
}