.prod-card {
    background: linear-gradient(to right, #4daf54, #3d8888);
    padding: 25px;
}

.prod-card .card {
    height: 400px;
    background: #272d48;
    padding: 20px;
    position: relative;
}

.prod-card .card .cart-heart,
.prod-card .card .card-cart {
    position: absolute;
    top: 25px;
    left: 25px;
}

.prod-card .card .cart-heart:hover {
    color: var(--yellow);
}

.prod-card .card .cart-heart {
    left: unset;
    right: 25px;
}

.prod-card .card .card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}