<div class="container">
    <!-- <div class="bgimgAboutPage p-5">
        <div class="about-contact">
            <div class="card">
                <div class="card-header">
                    <h2 class="card-title text-warning">Nguyên tắc học CNTT tại F99</h2>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-6 col-md-12 col-sm-12 mb-3">
                            <div class="list-rule">
                                <ul class="list-unstyled">
                                    <li><span class="number">01.</span><span class="desc">
                                            <p>Điều kiện đầu vào duy nhất là học viên cần tự nguyện cam kết thời gian học tập
                                            </p>
                                        </span></li>
                                    <li><span class="number">02.</span><span class="desc">
                                            <p>Học đến đâu cấp chứng chỉ đến đó. Mỗi chứng chỉ có đầu ra rõ ràng và độc lập</p>
                                        </span></li>
                                    <li><span class="number">03.</span><span class="desc">
                                            <p>Học nhanh, áp dụng ngay, tiết kiệm thời gian</p>
                                        </span></li>
                                    <li><span class="number">04.</span><span class="desc">
                                            <p>Bài giảng của các giáo sư hàng đầu thế giới MOOC</p>
                                        </span></li>
                                    <li><span class="number">05.</span><span class="desc">
                                            <p>Tiếng Anh chuẩn, phụ đề tiếng Việt</p>
                                        </span></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12 mb-3">
                            <div class="list-rule">
                                <ul class="list-unstyled">
                                    <li><span class="number">06.</span><span class="desc">
                                            <p>Chất lượng Quốc tế, chi phí Việt Nam</p>
                                        </span></li>
                                    <li><span class="number">07.</span><span class="desc">
                                            <p>Trợ giúp tức thời, bởi đội ngũ Hannah – Trợ lý học tập và Mentor – chuyên gia
                                                công nghệ</p>
                                        </span></li>
                                    <li><span class="number">08.</span><span class="desc">
                                            <p>Đánh giá qua Thái độ học tập, thể hiện qua việc hỏi đáp tích cực với mentor, hoàn
                                                thành các bài tập, phỏng vấn của Mentor</p>
                                        </span></li>
                                    <li><span class="number">09.</span><span class="desc">
                                            <p>Khuyến khích học viên cùng tham gia cộng đồng, tham gia các hoạt động kết nối
                                                trong ngành, cùng chung tay giải quyết các vấn đề của cuộc sống</p>
                                        </span></li>
                                    <li><span class="number">10.</span><span class="desc">
                                            <p>Học viên được yêu cầu tham dự các sự kiện, hoạt động cộng đồng online/offline
                                                trong quá trình học để kết nối với nhau và với ngành</p>
                                        </span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        
    </div> -->
</div>



