<div class="container">
    <!-- <h1>TRANG LIÊN HỆ</h1> -->
    <div class="bgimgContactPage">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12 mb-3">
                <!-- <h4>LIÊN HỆ VỚI CHÚNG TÔI</h4> -->
                <div class="card m-3">
                    <div class="card-header">
                        <div class="card-title text-center">
                            <h4>LIÊN HỆ VỚI CHÚNG TÔI</h4>
                        </div>
                        
                    </div>
                    <div class="card-body">

                    </div>
                    <div class="card-footer">

                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 mb-3">
                <h4>THÔNG TIN LIÊN HỆ CỦA BẠN</h4>
            </div>
        </div>
    </div>
</div>