<div class="container">
    <!-- <h1>TRANG LIÊN HỆ</h1> -->
    <div class="bgimgContactPage p-4">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12 mb-3">
                <!-- <h4>LIÊN HỆ VỚI CHÚNG TÔI</h4> -->
                <div class="card m-3">
                    <div class="card-header">
                        <div class="card-title text-center">
                            <h4><strong>LIÊN HỆ VỚI CHÚNG TÔI</strong></h4>
                        </div>
                        <div class="contact-content">
                            <span>Chúng tôi luôn sẵn sàng tiếp nhận mọi ý kiến ​đóng góp và giải đáp những yêu cầu của
                                bạn.
                                Hãy liên hệ ngay với chúng tôi</span>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="address-contact">
                            <i class="bi bi-house-heart-fill"></i>
                            <span>FPT Polytechnic</span>
                        </div>
                        <div class="phone-number-contact">
                            <i class="bi bi-telephone-inbound-fill"></i>
                            <span>0969.281.254</span>
                        </div>
                        <div class="email-contact">
                            <i class="bi bi-envelope-at-fill"></i>
                            <span>trungntpc05132@fpt.edu.vn</span>
                        </div>
                    </div>
                    <div class="card-footer">
                        <h3>T99 FULLSTACK</h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 mb-3">
                <!-- <h4>LIÊN HỆ VỚI CHÚNG TÔI</h4> -->
                <div class="card m-3">
                    <div class="card-header">
                        <div class="card-title text-center">
                            <h4><strong>THÔNG TIN LIÊN HỆ CỦA BẠN</strong></h4>
                        </div>
                        <div class="contact-content">
                            <span>Hãy để lại thông tin của bạn. Chúng tôi sẽ liên hệ ngay!!!</span>
                        </div>
                    </div>
                    <div class="card-body">
                        <label for="basic-url" class="form-label">Họ và tên</label>
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon3">Họ và tên</span>
                            <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
                        </div>

                        <label for="basic-url" class="form-label">Email</label>
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon3">abc@gmail.com</span>
                            <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
                        </div>

                        <label for="basic-url" class="form-label">Số điện thoại</label>
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon3">SĐT</span>
                            <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
                        </div>
                        
                        <div class="input-group">
                            <span class="input-group-text">Thông tin cần hỗ trợ</span>
                            <textarea class="form-control" aria-label="With textarea"></textarea>
                        </div>
                    </div>
                    <div class="card-footer d-flex justify-content-end">
                        <button type="button" class="btn btn-info">Gửi</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>