<div class="container">
    <!-- <h1>TRANG LIÊN HỆ</h1> -->
    <div class="findingCourse">
        <input class="DocSearch-Input w-100" aria-autocomplete="both" aria-labelledby="docsearch-label"
            id="docsearch-input" autocomplete="off" autocorrect="off" autocapitalize="off" enterkeyhint="go"
            spellcheck="false" autofocus="true" placeholder="Tìm kiếm khóa học, bài viết, video, ..." maxlength="64"
            type="search" aria-activedescendant="docsearch-item-0" aria-controls="docsearch-list" style="border-radius: 10px;">
    </div>


</div>