<div class="tooltip bs-tooltip-top" role="tooltip">
    <div class="tooltip-arrow"></div>
    <div class="tooltip-inner">
        <!-- Some tooltip text! -->
        <div class="container">
            <div class="card-header">
                Đây là tên khóa học
            </div>
            <div class="card-body">
                Đây là nôi dung khóa học
            </div>
            <div class="card-footer">
                Đây là id khóa học
            </div>
        </div>

    </div>
</div>