<div class="container">
    <div id="myCarouseExample" class="carousel slide mb-3" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#myCarouseExample" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#myCarouseExample" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#myCarouseExample" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="3000">
                <img src="/assets/images/slider/slide1.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item" data-bs-interval="3000">
                <img src="/assets/images/slider/slide2.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item" data-bs-interval="3000">
                <img src="/assets/images/slider/slide3.png" class="d-block w-100" alt="...">
            </div>

        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#myCarouseExample" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#myCarouseExample" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <div class="row">
        <div class="col-lg-9">
            <div class="box-content mt-3">
                <div class="row">
                    <div class="col-lg-3 col-md-4 col-sm-12 mb-3" ng-repeat="product in products">
                        <div class="card d-flex flex-column h-100">
                            <img ng-src="{{ product.image }}" alt="" class="card-img-top img-thumbnail">
                            <div class="card-body">
                                <h5 class="card-title">{{ product.title }}</h5>
                                <p class="card-text">{{ product.textDescription}}</p>
                            </div>
                            <div class="card-footer">
                                <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                                    data-bs-target="#confirmTest">
                                    Thi thử
                                </button>
                                <button type="button" class="btn btn-secondary">
                                    Xem chi tiết
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">Next</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card mt-3" ng-controller="LoginControllerHTML" id="loginStatusController"
                ng-include="'component/loginStatusController.html'">
            </div>
            <div class="card mt-3">
                <div class="card-body">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Tìm kiếm..."
                            aria-label="Recipient's username" aria-describedby="button-addon2">
                        <button class="btn btn-primary" type="button" id="button-addon2">Tìm kiếm</button>
                    </div>
                </div>
            </div>
            <div class="card mt-3" ng-include="'component/accordionMonHoc.html'">
            </div>
        </div>
    </div>
</div>