<section ng-include="'../component/sliderCarouse.html'" onload="myFunction()"></section>
<script>
    function myFunction() {
        // Đoạn mã JavaScript của bạn ở đây
        let nextCarouselDOM = document.getElementById('next-carousel');
        let prevCarouselDOM = document.getElementById('prev-carousel');
        let carouselDOM = document.querySelector('.carousel');
        let listCarouselDOM = document.querySelector('.carousel .list-carousel');
        let thumnailDOM = document.querySelector('.carousel .thumnails');

        console.log(nextCarouselDOM);
        // Các thao tác JavaScript khác ở đây
    }
</script>