.card-img-top:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

.custom-navbar {
  background-color: #073b87;
}

.custom-btn-accordion-bg {
  background-color: #333;
}

.custom-btn-accordion-text {
  color: #f0f0f0;
}

.logo {
  background-image: url('assets/images/banner.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  opacity: 0.8;
}
.name-website{
  color: aquamarine;
}