body {
  height: 100vh;
}
.card-img-top:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}
.custom-navbar {
  background-color: #073b87;
}
.navbar-nav .nav-item .dropdown-menu .dropdown-item:hover {
  background-color: #056f85;; /* Change to your desired color */
}
.custom-btn-accordion-bg {
  background-color: #073b87;
  /* background-color: #333; */
}

.custom-btn-accordion-text {
  color: #f0f0f0;
}

.baner {
  height: 300px;
  background-image: url('assets/images/banner.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
/* .myCourse > img{
  height: 300px;
} */
.name-website {
  color: #ffc107;
}
.logo-red{
  color: #dc3545;
}
@keyframes shake {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(-5px);
  }

  50% {
    transform: translateX(5px);
  }

  75% {
    transform: translateX(-5px);
  }

  100% {
    transform: translateX(5px);
  }
}

.shaky-text {
  animation: shake 0.5s infinite;
  color: rgb(244, 13, 13);
}

.cascading-right {
  margin-right: -50px;
}

@media (max-width: 991.98px) {
  .cascading-right {
      margin-right: 0;
  }
}
.bg-login-custom {
  background-image: url('assets/images/login.webp');
  height: 300px;
}
.card-login-custom{
  margin-top: -100px;
  background: hsla(0, 0%, 100%, 0.8); 
  backdrop-filter: blur(30px);
}

.rounded-t-5 {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

@media (min-width: 992px) {
  .rounded-tr-lg-0 {
    border-top-right-radius: 0;
  }

  .rounded-bl-lg-5 {
    border-bottom-left-radius: 0.5rem;
  }
}

.bgimgContactPage {
  background-image: url('/assets/images/bgImage/bgImageContact.jpg');
  height: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
  color: white;
}
.bgimgAboutPage{
  background-image: url('/assets/images/bgImage/about-bg.png');
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.bgimgDetailCoursePage {
  background-image: url('/assets/images/bgImage/bgImageDetailCourse.jpg');
  height: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
 
}
.bgimgBlogPage{
  background-image: url('/assets/images/bgImage/bgImageDetailCourse.jpg');
  height: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
 
}
.bgAboutPage-custom{
  background-color: #b2bdbf;
  border-radius: 0% 0% 10% 10%;
}
.list-rule .number {
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #0D7DFC;
  margin-right: 4px;
}
