.logo-red{
  color: #c60707;
}
.card-img-top:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}
.custom-navbar {
  background-color: #073b87;
}

.custom-btn-accordion-bg {
  background-color: #073b87;
  /* background-color: #333; */
}

.custom-btn-accordion-text {
  color: #f0f0f0;
}

.baner {
  height: 300px;
  background-image: url('assets/images/banner.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.name-website {
  color: rgb(238, 91, 6);
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(-5px);
  }

  50% {
    transform: translateX(5px);
  }

  75% {
    transform: translateX(-5px);
  }

  100% {
    transform: translateX(5px);
  }
}

.shaky-text {
  animation: shake 0.5s infinite;
  color: rgb(244, 13, 13);
}

