.card-img-top:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
  }
  .custom-navbar{
    background-color: #073b87;
  }
  .custom-accordion-bg {
    background-color: #333; 
}
.custom-accordion-text {
  color: #f0f0f0; 
}