<div class="accordion" id="accordionMonHoc">
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button custom-btn-accordion-bg custom-btn-accordion-text"
                type="button" data-bs-toggle="collapse" data-bs-target="#collapseSoftWare"
                aria-expanded="true" aria-controls="collapseSoftWare">
                <i class="bi bi-server"></i>
                Phát triển phần mềm
            </button>
        </h2>
        <div id="collapseSoftWare" class="accordion-collapse collapse show"
            data-bs-parent="#accordionMonHoc">
            <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Lập trình Android nâng cao
                    <span class="badge bg-primary rounded-pill">12</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Lập trình Android cơ bản
                    <span class="badge bg-primary rounded-pill">2</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Lập trình ASP.NET
                    <span class="badge bg-primary rounded-pill">25</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Lập trình game 2D
                    <span class="badge bg-primary rounded-pill">1</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Lập trình Java nâng cao
                    <span class="badge bg-primary rounded-pill">10</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Lập trình Java nâng cao
                    <span class="badge bg-primary rounded-pill">4</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Lập trình JavaScript
                    <span class="badge bg-primary rounded-pill">4</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Lập trình VB.NET
                    <span class="badge bg-primary rounded-pill">4</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    SQL Server
                    <span class="badge bg-primary rounded-pill">4</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Cơ sở dữ liệu
                    <span class="badge bg-primary rounded-pill">22</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Lập trình PHP
                    <span class="badge bg-primary rounded-pill">22</span>
                </li>
            </ul>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed custom-btn-accordion-bg custom-btn-accordion-text"
                type="button" data-bs-toggle="collapse" data-bs-target="#collapseWeb"
                aria-expanded="false" aria-controls="collapseWeb">
                <i class="bi bi-globe-americas"></i>
                Lập Trình Web
            </button>
        </h2>
        <div id="collapseWeb" class="accordion-collapse collapse" data-bs-parent="#accordionMonHoc">
            <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Xây dựng trang web
                    <span class="badge bg-primary rounded-pill">14</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Thiết kế web cho di động
                    <span class="badge bg-primary rounded-pill">2</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Thiết kế layout
                    <span class="badge bg-primary rounded-pill">1</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Internet Marketing
                    <span class="badge bg-primary rounded-pill">1</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    HTML5 và CSS3
                    <span class="badge bg-primary rounded-pill">1</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Thiết kế UI trên Android
                    <span class="badge bg-primary rounded-pill">1</span>
                </li>
            </ul>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed custom-btn-accordion-bg custom-btn-accordion-text"
                type="button" data-bs-toggle="collapse" data-bs-target="#collapseOther"
                aria-expanded="false" aria-controls="collapseOther">
                <i class="bi bi-list-stars"></i>
                Những môn học khác
            </button>
        </h2>
        <div id="collapseOther" class="accordion-collapse collapse" data-bs-parent="#accordionMonHoc">
            <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Thiết kế UI trên Android
                    <span class="badge bg-primary rounded-pill">14</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Điện toán đám mây
                    <span class="badge bg-primary rounded-pill">2</span>
                </li>
            </ul>
        </div>
    </div>
</div>