<div class="modal-dialog modal-lg" style="width: 300px;" ng-controller="ChangeControllerHTML">
    <div class="modal-content text-center">
        <div class="modal-header h5 text-white bg-primary justify-content-center">
            Đổi mật khẩu
        </div>
        <div class="modal-body px-5">
            <p class="py-2">
                Nhập vào đẩy đủ các thông tin sau
            </p>
            <div class="form-outline">
                <input type="email" id="typeEmail" class="form-control my-3" />
                <label class="form-label" for="typeEmail">Email input</label>
            </div>

            <a href="#" class="btn btn-primary w-100">Đổi mật khẩu</a>
        </div>
    </div>
</div>