<div class="modal-dialog modal-lg" style="width: 300px;" ng-controller="ChangeControllerHTML">
    <div class="modal-content text-center">
        <div class="modal-header h5 text-white bg-primary justify-content-center">
            Password Reset
        </div>
        <div class="modal-body px-5">
            <p class="py-2">
                Enter your email address and we'll send you an email with instructions to reset your password.
            </p>
            <div class="form-outline">
                <input type="email" id="typeEmail" class="form-control my-3" />
                <label class="form-label" for="typeEmail">Email input</label>
            </div>
            <a href="#" class="btn btn-primary w-100">Reset password</a>
            <div class="d-flex justify-content-between mt-4">
                <a class="" href="#">Login</a>
                <a class="" href="#">Register</a>
            </div>
        </div>
    </div>
</div>