<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h1 class="modal-title fs-5" id="confirmTestLabel">Xác nhận thi thử</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            Bạn muốn thi thử ?
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Đóng</button>
            <button type="button" class="btn btn-success" data-bs-dismiss="modal">
                <a class="nav-link" href="#!question">Đồng ý</a>
            </button>
        </div>
    </div>
</div>