<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h1 class="modal-title fs-5" id="detaiCourseLabel">Xác nhận thi thử</h1>
        </div>
        <div class="modal-body">
            <div class="container">
                <div class="card mt-3">
                    <div class="card-header">
                        <h1>CHI TIẾT KHÓA HỌC</h1>
                        <div class="card-title"></div>         
                    </div>
                    <div class="card-body"></div>
                    <div class="card-footer"></div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Đóng</button>
        </div>
    </div>
</div>