<div class="container">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Trang chủ</a></li>
        <li class="nav-item"><a href="#!about" class="nav-link px-2 text-muted">Giới thiệu</a></li>
        <li class="nav-item"><a href="#!contact" class="nav-link px-2 text-muted">Liên hệ</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Góp ý</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Hỏi đáp</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Tài khoản</a></li>
    </ul>
    <p class="text-center text-muted">© PC05132 - Nguyễn Thành Trung</p>
</div>