<div class="modal-dialog modal-lg" ng-controller="ForgetControllerHTML">
    <div class="modal-content">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        <section class=" text-center text-lg-start">
            <div class="card mb-3">
                <div class="row g-0 d-flex align-items-center">
                    <div class="col-lg-4 d-none d-lg-flex">
                        <img src="assets/images/forgot.jpg" alt="Trendy Pants and Shoes"
                            class="w-100 rounded-t-5 rounded-tr-lg-0 rounded-bl-lg-5" />
                    </div>
                    <div class="col-lg-8">
                        <div class="card-body py-5 px-md-5">
                            <form name="formForgetPass">
                                <h2 class="fw-bold mb-5">
                                    <strong style="color: rgb(46, 11, 161);">Bạn quên mật khẩu</strong>
                                    <strong style="color: rgb(231, 16, 16);">???</strong>
                                </h2>
                                <div class="form-outline mb-4">
                                    <label class="form-label" for="forgetPassModalEmail">Nhập Email của bạn:
                                    </label>
                                    <input type="email" id="forgetPassModalEmail" class="form-control"
                                        placeholder="name@example.com" ng-model="user.emailForgetPass"
                                        name="forgetPassInput" required />
                                        <span ng-show="formForgetPass.forgetPassInput.$invalid"
                                        class="text-danger">(*) Nhập email có định dạng name@example.com</span>
                                </div>
                                <button type="button" class="btn btn-primary btn-block mb-4">Đặt lại mật khẩu</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Đóng</button>
    </div>
</div>