<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        <!-- <section class=" text-center text-lg-start">
            <div class="card mb-3">
                <div class="row g-0 d-flex align-items-center">
                    <div class="col-lg-4 d-none d-lg-flex">
                        <img src="assets/images/forgot.jpg" alt="Trendy Pants and Shoes"
                            class="w-100 rounded-t-5 rounded-tr-lg-0 rounded-bl-lg-5" />
                    </div>
                    <div class="col-lg-8">
                        <div class="card-body py-5 px-md-5">
                            <form name="formForgetPass">
                                <h2 class="fw-bold mb-5">
                                    <strong style="color: rgb(46, 11, 161);">Bạn quên mật khẩu</strong>
                                    <strong style="color: rgb(231, 16, 16);">???</strong>
                                </h2>
                                <div class="form-outline mb-4">
                                    <label class="form-label" for="forgetPassModalEmail">Nhập Email của bạn:
                                    </label>
                                    <input type="email" id="forgetPassModalEmail" class="form-control"
                                        placeholder="name@example.com" ng-model="user.forgetPass"
                                        name="forgetPassInput" required />
                                        <span ng-show="formForgetPass.forgetPassInput.$invalid"
                                        class="text-danger">(*) Nhập email có định dạng name@example.com</span>
                                </div>
                                <button type="button" class="btn btn-primary btn-block mb-4">Gửi mã xác
                                    nhận</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section> -->
        <div class="card text-center" style="width: 300px;">
            <div class="card-header h5 text-white bg-primary">Password Reset</div>
            <div class="card-body px-5">
                <p class="card-text py-2">
                    Enter your email address and we'll send you an email with instructions to reset your password.
                </p>
                <div class="form-outline">
                    <input type="email" id="typeEmail" class="form-control my-3" />
                    <label class="form-label" for="typeEmail">Email input</label>
                </div>
                <a href="#" class="btn btn-primary w-100">Reset password</a>
                <div class="d-flex justify-content-between mt-4">
                    <a class="" href="#">Login</a>
                    <a class="" href="#">Register</a>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Đóng</button>
    </div>
</div>