<div class="row p-3">
    <div class="col-lg-2">
        <a class="logo" href="/index.html" title="" aria-label="store logo">
            <img src="/assets/logos/logo.jpg">
        </a>
    </div>
    <div class="col-lg-6">
        <div class="input-group">
            <div class="form-outline">
                <input id="search-focus" type="search" class="form-control" placeholder="Tìm kiếm sản phẩm">
            </div>
            <button type="button" class="btn btn-red">
                <i class="bi bi-search"></i>
            </button>
        </div>
    </div>

</div>
<div class="sections nav-sections">
    aaa
</div>