<div class="container">
    <div class="logo py-1 d-flex justify-content-between">
        <div class="name-websit">
            <h2 class="name-website">T99 <span class="logo-red">FULLSTACK</span></h2>
            <h6 class="shaky-text">Tham gia kiểm tra kiến thức ngay hôm nay!</h6>
        </div>
        <a href="/">
            <img src="assets/logos/logo.png" alt="">
        </a>
    </div>
    <nav class="navbar navbar-expand-lg custom-navbar" data-bs-theme="dark">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#primaryMenu"
                aria-controls="primaryMenu" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="primaryMenu">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">
                            <i class="bi bi-house-add"></i>
                            Trang chủ
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#!about">
                            <i class="bi bi-list-columns-reverse"></i>
                            Giới thiệu
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <i class="bi bi-list-task"></i>
                            Danh sách môn học
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#!blog">
                            <i class="bi bi-postcard-heart"></i>
                            Bài viết
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#!contact">
                            <i class="bi bi-telephone-outbound"></i>
                            Liên hệ
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            <i class="bi bi-person-check"></i>
                            Tài khoản
                        </a>
                        <ul class="dropdown-menu custom-navbar">
                            <li>
                                <a class="dropdown-item" href="#" data-bs-toggle="modal"
                                    data-bs-target="#loginModal">Đăng nhập</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#" data-bs-toggle="modal"
                                    data-bs-target="#registerModal">Đăng ký</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#" data-bs-toggle="modal"
                                    data-bs-target="#forgetPassModal">Quên mật khẩu</a>
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li>
                                <a class="dropdown-item" href="#" data-bs-toggle="modal"
                                    data-bs-target="#changePassModal">Đổi mật khẩu</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <ul class="navbar-nav mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            Tiếng Việt
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            English
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>