<div class="row p-3 d-flex align-items-center">
    <div class="col-lg-2">
        <a class="logo" href="/index.html" title="" aria-label="store logo">
            <img src="/assets/logos/logo.jpg">
        </a>
    </div>
    <div class="col-lg-6">
        <form action="" method="get">
            <div class="input-group">
                <div class="form-outline">
                    <input id="search-focus" type="text" class="form-control" placeholder="Tìm kiếm sản phẩm" name="q"
                        maxlength="128">
                </div>
                <button class="btn-red">Tìm kiếm</button>
            </div>
        </form>
    </div>
    <div class="col-lg-4 d-grid">
        <div class="nav-info">
            <div class="nav-icon">
                <i class="bi bi-person-circle"></i>
            </div>
            <div class="nav-text">
                <p class="text-label">Tài khoản</p>
                <p class="text-status">Đăng nhập</p>
            </div>
        </div>
        <div class="nav-info">
            <div class="nav-icon">
                <i class="bi bi-person-circle"></i>
            </div>
            <div class="nav-text">
                <p class="text-label">Giỏ hàng</p>
                <p class="text-status">0 Sản phẩm</p>
            </div>
        </div>
        <div class="nav-info">
            <div class="nav-icon">
                <i class="bi bi-person-circle"></i>
            </div>
            <div class="nav-text">
                <p class="text-label">Đơn hàng</p>
                <p class="text-status">Tra cứu</p>
            </div>
        </div>
    </div>
</div>
<div class="sections nav-sections">
    aaa
</div>