<!-- ================ start banner area ================= -->
<section class="blog-banner-area" id="blog">
    <div class="container h-100">
        <div class="blog-banner">
            <div class="text-center">
                <h1>Our Blog</h1>
                <nav aria-label="breadcrumb" class="banner-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Blog</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- ================ end banner area ================= -->


<!--================Blog Categorie Area =================-->
<section class="blog_categorie_area" ng-controller="blogController">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-lg-4 mb-4 mb-lg-0" ng-repeat="post in posts">
                <div class="categories_post">
                    <img class="card-img rounded-0" style="height: 300px;"
                        src="../../assets/shop/images/blog/cat-post/{{post.image}}" alt="post">
                    <div class="categories_details">
                        <div class="categories_text">
                            <a href="single-blog.html">
                                <h5>{{post.title}}</h5>
                            </a>
                            <div class="border_line"></div>
                            <p>{{post.content}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================Blog Categorie Area =================-->

<!--================Blog Area =================-->
<section class="blog_area" ng-controller="blogController">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="blog_left_sidebar">
                    <article class="row blog_item" ng-repeat="post in posts">
                        <div class="col-md-3">
                            <div class="blog_info text-right">
                                <ul class="blog_meta list">
                                    <li>
                                        <a href="#">Mark wiens
                                            <i class="lnr lnr-user"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">{{post.createDate}}
                                            <i class="lnr lnr-calendar-full"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">{{post.views}} Views
                                            <i class="lnr lnr-eye"></i>
                                        </a>
                                    </li>
                                    <!-- <li>
                                        <a href="#">06 Comments
                                            <i class="lnr lnr-bubble"></i>
                                        </a>
                                    </li> -->
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="blog_post">
                                <img class="card-img rounded-0" style="height: 350px;"
                                    src="../../assets/shop/images/blog/cat-post/{{post.image}}" alt="post">
                                <div class="blog_details">
                                    <a href="single-blog.html">
                                        <h2>{{post.title}}</h2>
                                    </a>
                                    <p>{{post.content}}</p>
                                    <a class="button button-blog" href="single-blog.html">View More</a>
                                </div>
                            </div>
                        </div>
                    </article>
                    <!-- <nav class="blog-pagination justify-content-center d-flex">
                        <ul class="pagination">
                            <li class="page-item">
                                <a href="#" class="page-link" aria-label="Previous">
                                    <span aria-hidden="true">
                                        <span class="lnr lnr-chevron-left"></span>
                                    </span>
                                </a>
                            </li>
                            <li class="page-item">
                                <a href="#" class="page-link">01</a>
                            </li>
                            <li class="page-item active">
                                <a href="#" class="page-link">02</a>
                            </li>
                            <li class="page-item">
                                <a href="#" class="page-link">03</a>
                            </li>
                            <li class="page-item">
                                <a href="#" class="page-link">04</a>
                            </li>
                            <li class="page-item">
                                <a href="#" class="page-link">09</a>
                            </li>
                            <li class="page-item">
                                <a href="#" class="page-link" aria-label="Next">
                                    <span aria-hidden="true">
                                        <span class="lnr lnr-chevron-right"></span>
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </nav> -->
                </div>
            </div>
            <div class="col-lg-4">
                <div class="blog_right_sidebar">
                    <aside class="single_sidebar_widget search_widget">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search Posts">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="lnr lnr-magnifier"></i>
                                </button>
                            </span>
                        </div>
                        <!-- /input-group -->
                        <div class="br"></div>
                    </aside>
                    <h2 class="btn btn-primary ">Người thành lập nên công ty</h2>
                    <aside class="single_sidebar_widget author_widget">
                        <img class="author_img rounded-circle" src="../../assets/shop/images/blog/Trung.jpg"
                            style="width: 100px;" alt="">
                        <h4>Nguyễn Thành Trung</h4>
                        <p>Tổng giám đốc công ty TwoBee</p>
                        <div class="social_icon">
                            <a href="#">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                            <a href="#">
                                <i class="fab fa-twitter"></i>
                            </a>
                            <a href="#">
                                <i class="fab fa-github"></i>
                            </a>
                            <a href="#">
                                <i class="fab fa-behance"></i>
                            </a>
                        </div>
                        <p>Tôi là Trung, một cá nhân năng động và đam mê sáng tạo, đã trải qua một hành trình đầy thú vị
                            và đa chiều trong sự nghiệp của mình. Với kinh nghiệm và sự đổi mới từ lĩnh vực kế toán, tôi
                            hiện đang chuyển hướng sự nghiệp của mình vào lĩnh vực Công nghệ Thông tin (IT).</p>

                        <details>
                            <summary>Đọc thêm</summary>
                            <p>Tôi đã bắt đầu sự nghiệp của mình trong lĩnh vực kế toán, nơi tôi đã học và làm việc
                                trong một số công ty tài chính hàng đầu. Qua những năm làm việc này, tôi đã tích luỹ
                                được kiến thức sâu rộng về quản lý tài chính và phân tích số liệu.</p>

                            <p>Tuy nhiên, với sự phát triển nhanh chóng của ngành Công nghệ Thông tin, tôi cảm thấy hứng
                                thú và quyết định thực hiện một cuộc chuyển đổi trong sự nghiệp của mình. Điều này được
                                thúc đẩy bởi niềm đam mê của tôi với công nghệ và khát vọng học hỏi và thách thức mới.
                            </p>

                            <p>Hiện tại, tôi đang theo đuổi học về lĩnh vực IT, chú trọng vào việc học lập trình và phát
                                triển phần mềm. Tôi đã tham gia các khóa học và dự án thực tế để phát triển kỹ năng của
                                mình trong việc xây dựng ứng dụng và giải quyết các vấn đề kỹ thuật phức tạp.</p>

                            <p>Cuộc chuyển đổi này không chỉ là một bước đi mạnh mẽ về mặt cá nhân, mà còn là cơ hội để
                                tôi phát triển và thăng tiến trong sự nghiệp của mình. Tôi tin rằng sự kết hợp giữa kiến
                                thức về kế toán và kỹ năng trong lĩnh vực Công nghệ Thông tin sẽ giúp tôi đóng góp mạnh
                                mẽ và đa chiều trong bất kỳ dự án nào mà tôi tham gia.</p>

                            <p>Tôi luôn sẵn lòng tiếp nhận thử thách mới và học hỏi từ mọi người xung quanh để phát
                                triển bản thân và mang lại giá trị cho cộng đồng. Nếu bạn có cơ hội hợp tác hoặc muốn
                                biết thêm về sự chuyển đổi của tôi, xin vui lòng liên hệ.</p>

                            <p>Xin cảm ơn vì đã đọc giới thiệu của tôi.</p>

                            <p>Trân trọng,<br>
                                Trung</p>
                        </details>
                        <div class="br"></div>
                    </aside>
                    <aside class="single_sidebar_widget author_widget">
                        <img class="author_img rounded-circle" src="../../assets/shop/images/blog/author.png" alt="">
                        <h4>Đặng Hoàng Tuấn</h4>
                        <p>Senior blog writer</p>
                        <div class="social_icon">
                            <a href="#">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                            <a href="#">
                                <i class="fab fa-twitter"></i>
                            </a>
                            <a href="#">
                                <i class="fab fa-github"></i>
                            </a>
                            <a href="#">
                                <i class="fab fa-behance"></i>
                            </a>
                        </div>
                        <p>Boot camps have its supporters andit sdetractors. Some people do not understand why you
                            should
                            have to spend money on boot camp when you can get. Boot camps have itssuppor ters andits
                            detractors.
                        </p>
                        <div class="br"></div>
                    </aside>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================Blog Area =================-->

<!--================Instagram Area =================-->
<section class="instagram_area">
    <div class="container box_1620">
        <div class="insta_btn">
            <a class="btn theme_btn" href="#">Follow us on instagram</a>
        </div>
        <div class="instagram_image row m0">
            <a href="#"><img src="../../assets/shop/images/instagram/ins-1.jpg" alt=""></a>
            <a href="#"><img src="../../assets/shop/images/instagram/ins-2.jpg" alt=""></a>
            <a href="#"><img src="../../assets/shop/images/instagram/ins-3.jpg" alt=""></a>
            <a href="#"><img src="../../assets/shop/images/instagram/ins-4.jpg" alt=""></a>
            <a href="#"><img src="../../assets/shop/images/instagram/ins-5.jpg" alt=""></a>
            <a href="#"><img src="../../assets/shop/images/instagram/ins-6.jpg" alt=""></a>
        </div>
    </div>
</section>
<!--================End Instagram Area =================-->