<!-- ================ start banner area ================= -->
<section class="blog-banner-area" id="category">
    <div class="container h-100">
        <div class="blog-banner">
            <div class="text-center">
                <h1>Shopping Cart</h1>
                <nav aria-label="breadcrumb" class="banner-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Shopping Cart</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- ================ end banner area ================= -->



<!--================Cart Area =================-->
<section class="cart_area">
    <div class="container" ng-controller="CartCtrl">
        <div class="cart_inner">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>

                            <th scope="col">
                                <form>
                                    <input type="checkbox" id="checkAll" class="mr-2" ng-model="checkAll"> All
                                    Product
                                </form>
                            </th>
                            <th scope="col" style="width: 170px;">Price</th>
                            <th scope="col">Quantity</th>
                            <th scope="col" style="width: 170px;">Total</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="cart in carts">
                            <td>
                                <div class="media">
                                    <div class="d-flex" ng-model="cart.product.productId">
                                        <form class="mt-3 mr-2">
                                            <input type="checkbox" class="checkbox" ng-model="options[ $index]">
                                        </form>
                                        <img style="width: 60px;"
                                            src="https://contents.mediadecathlon.com/p2153179/e958b22d2eccd9c7db0fea1da358fd8f/p2153179.jpg?format=auto&quality=70&f=650x0"
                                            alt="">
                                    </div>
                                    <div class="media-body" style="width: 350px;">
                                        <h5><a href="#" style="color: #010101;">{{ cart.product.productName }} </a></h5>
                                        <p>Thương hiệu:
                                            <span style="color: #010101;" class="mr-5">{{cart.product.brand.nameBrand}}
                                            </span>
                                            <span style="color: #010101; float: right;"
                                                ng-if="cart.product.gender == 'UNISEX'"><span
                                                    style="color: #858796;">Loại:</span> Nam và
                                                Nữ</span>
                                            <span style="color: #010101; float: right;"
                                                ng-if="cart.product.gender == 'MALE'"> <span
                                                    style="color: #858796;">Loại:</span> Nam
                                            </span>
                                            <span style="color: #010101; float: right;"
                                                ng-if="cart.product.gender == 'FEMALE'"> <span
                                                    style="color: #858796;">Loại:</span> Nữ</span>
                                        </p>
                                        <p>Màu:
                                            <span style="color: #010101;" ng-repeat="dtColor in detailsColor">
                                                <span ng-if="dtColor.detailsColorId == cart.colorId">
                                                    {{dtColor.color.colorName}}
                                                </span>
                                            </span><span style="float: right;">Chọn màu: <i
                                                    class="bi bi-pencil-square"></span></i>
                                        </p>
                                        <p>Kích thước:
                                            <span style="color: #010101;" ng-repeat="dtSize in detailsSize">
                                                <span ng-if="dtSize.detailsSizeId == cart.sizeId">
                                                    {{dtSize.size.sizeName}}
                                                </span>
                                            </span><span style="float: right;">Chọn size: <i
                                                    class="bi bi-pencil-square"></span></i>
                                        </p>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <h5 ng-model="cart.product.price">{{cart.product.price | number : fractionSize }} VNĐ
                                </h5>
                            </td>
                            <td>
                                <div class="product_count">
                                    <input type="number" name="qty" id="sst" ng-model="cart.quantity"
                                        ng-change="updatePrice(cart)" ng-blur="updatePrice(cart)" title="Quantity:"
                                        class="input-text qty">
                                    <button class="increase items-count" type="button"
                                        ng-click="incrementQuantity(cart)"><i class="bi bi-caret-up-fill"></i></button>
                                    <button class="reduced items-count" type="button"
                                        ng-click="decrementQuantity(cart)"><i
                                            class="bi bi-caret-down-fill"></i></button>
                                </div>
                            </td>
                            <td>
                                <h5 style="color: red;">{{ calculateTotalPrice(cart) | number : fractionSize}} VNĐ</h5>

                            </td>

                        </tr>
                        <tr>
                            <td colspan="6">
                                <div class="shipping_box">
                                    <h2>Mã giảm giá</h2>
                                    <div class="row">
                                        <div class="col-lg-3">
                                            <div class="card" style="width: 100%">
                                                <div class="card-body">
                                                    <h5 class="card-title">Card title</h5>
                                                    <p class="card-text">Some quick example text to build on the card
                                                        title and
                                                        make up the bulk of the card's content.</p>
                                                    <a href="#" class="btn btn-primary">Sao chép</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="card" style="width:  100%">
                                                <div class="card-body">
                                                    <h5 class="card-title">Card title</h5>
                                                    <p class="card-text">Some quick example text to build on the card
                                                        title and
                                                        make up the bulk of the card's content.</p>
                                                    <a href="#" class="btn btn-primary">Sao chép</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="card" style="width:  100%">
                                                <div class="card-body">
                                                    <h5 class="card-title">Card title</h5>
                                                    <p class="card-text">Some quick example text to build on the card
                                                        title and
                                                        make up the bulk of the card's content.</p>
                                                    <a href="#" class="btn btn-primary">Sao chép</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="card" style="width:  100%">
                                                <div class="card-body">
                                                    <h5 class="card-title">Card title</h5>
                                                    <p class="card-text">Some quick example text to build on the card
                                                        title and
                                                        make up the bulk of the card's content.</p>
                                                    <a href="#" class="btn btn-primary">Sao chép</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </td>
                        </tr>
                        <tr class="bottom_button">
                            <td>
                                <a class="button" href="#">Update Cart</a>
                            </td>
                            <td>
                            </td>
                            <td>

                            </td>
                            <td>
                                <div class="cupon_text d-flex" style="float: right;">
                                    <input type="text" placeholder="Coupon Code">
                                    <a class="primary-btn" href="#">Apply</a>
                                    <a class="button" href="#">Have a Coupon?</a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h4>Miễn phí giao hàng cho đơn hàng từ 3,000,000 VNĐ</h4>

                            </td>
                            <td>

                            </td>
                            <td colspan="2">
                                <h4 style="color: red; margin: 0;">Tạm tính: <span style="float: right;">{{
                                        totalCartValue | number : fractionSize}} VNĐ</span></h4>
                                <h4 class="mt-4">Phí giao hàng: <span style="float: right;">{{freeShip}}</span></h4>
                                <hr>
                                <h4 class="mt-4" style="color: red; margin: 0;">Tổng tiền: <span
                                        style="float: right;">{{ totalCartAll | number : fractionSize}} VNĐ</span></h4>
                            </td>
                        </tr>
                        <tr class="shipping_area">
                            <td colspan="2">
                                <h1>Sản phẩm đề xuất</h1>
                                <div class="row">
                                    <div class="col-lg-3">tuan</div>
                                    <div class="col-lg-3">tuan2</div>
                                    <div class="col-lg-3">tuan3</div>
                                    <div class="col-lg-3">tuan3</div>
                                </div>
                            </td>

                            <td>

                            </td>
                            <td>
                                <div class="shipping_box">
                                    <h2>Hình thức khuyến mãi</h2>
                                    <ul class="list">
                                        <li><a href="#">Flat Rate: $5.00</a></li>
                                        <li><a href="#">Free Shipping</a></li>
                                        <li><a href="#">Flat Rate: $10.00</a></li>
                                        <li class="active"><a href="#">Local Delivery: $2.00</a></li>
                                    </ul>
                                    <h6>Calculate Shipping <i class="fa fa-caret-down" aria-hidden="true"></i></h6>
                                    <select class="shipping_select">
                                        <option value="1">Bangladesh</option>
                                        <option value="2">India</option>
                                        <option value="4">Pakistan</option>
                                    </select>
                                    <select class="shipping_select">
                                        <option value="1">Select a State</option>
                                        <option value="2">Select a State</option>
                                        <option value="4">Select a State</option>
                                    </select>
                                    <input type="text" placeholder="Postcode/Zipcode">
                                    <a class="gray_btn" href="#">Update Details</a>
                                </div>
                            </td>
                        </tr>
                        <tr class="out_button_area">
                            <td class="d-none-l">

                            </td>
                            <td class="">

                            </td>
                            <td>

                            </td>
                            <td>
                                <div class="checkout_btn_inner d-flex align-items-center">
                                    <a class="gray_btn" href="#">Continue Shopping</a>
                                    <a class="primary-btn ml-2" href="#">Proceed to checkout</a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
<!--================End Cart Area =================-->

<!--================ Start footer Area  =================-->