<!-- ================ start banner area ================= -->
<section class="blog-banner-area" id="category">
  <div class="container h-100">
    <div class="blog-banner">
      <div class="text-center">
        <h1>Product Checkout</h1>
        <nav aria-label="breadcrumb" class="banner-breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Checkout</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</section>
<!-- ================ end banner area ================= -->

<!--================Checkout Area =================-->
<section class="checkout_area section-margin--small" ng-controller="checkoutController">
  <div class="container mt-5">
    <h2>Mã giảm giá cho tất cả</h2>
    <div class="row">
      <div class="col-lg-3" ng-repeat=" voucher in vouchers">
        <div class="mb-3">
          <div ng-if="voucher.type ==='ALL'">
            <div class="card mr-2" style="width:240px;height: 430px;">
              <div class="card-body pb-4">
                <h5 class="card-title text-danger">Mã: <span class="btn btn-secondary"
                    id="{{voucher.voucherName}}">{{voucher.voucherName}}</span>
                </h5>
                <h4>Giảm: {{voucher.condition | number : fractionSize}} VNĐ
                </h4>
                <p class="card-text">{{voucher.description}}</p>
                <p>Áp dụng từ ngày: {{voucher.effectiveDate | date: 'dd/MM/yyyy'}}</p>
                <p>Ngày hết hạn: {{voucher.expirationDate | date: 'dd/MM/yyyy'}}</p>

                <button class="btn btn-warning" ng-click="copyVoucher(voucher.voucherName)">Sao
                  chép</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <h2>Giảm giá tiền mặt</h2>
    <div class="row">
      <div class="col-lg-3" ng-repeat=" voucher in vouchers">
        <div class="mb-3">
          <div ng-if="voucher.type ==='TM'">
            <div class="card mr-2" style="width:240px;height: 430px;">
              <div class="card-body pb-4">
                <h5 class="card-title text-danger">Mã: <span class="btn btn-secondary"
                    id="{{voucher.voucherName}}">{{voucher.voucherName}}</span>
                </h5>
                <h4>Giảm: {{voucher.condition | number : fractionSize}} VNĐ
                </h4>
                <p class="card-text">{{voucher.description}}</p>
                <p>Áp dụng từ ngày: {{voucher.effectiveDate | date: 'dd/MM/yyyy'}}</p>
                <p>Ngày hết hạn: {{voucher.expirationDate | date: 'dd/MM/yyyy'}}</p>
                <button class="btn btn-warning" ng-click="copyVoucher(voucher.voucherName)">Sao
                  chép</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <h2>Giảm giá phần trăm</h2>
    <div class="row">
      <div class="col-lg-3" ng-repeat=" voucher in vouchers">
        <div class="mb-3">
          <div ng-if="voucher.type ==='PT'">
            <div class="card mr-2" style="width:240px;height: 430px;">
              <div class="card-body pb-4">
                <h5 class="card-title text-danger">Mã: <span class="btn btn-secondary"
                    id="{{voucher.voucherName}}">{{voucher.voucherName}}</span>
                </h5>
                <h4>Giảm: {{voucher.amountPercentage}} %
                </h4>
                <p class="card-text">{{voucher.description}}</p>
                <p>Áp dụng từ ngày: {{voucher.effectiveDate | date: 'dd/MM/yyyy'}}</p>
                <p>Ngày hết hạn: {{voucher.expirationDate | date: 'dd/MM/yyyy'}}</p>
                <button class="btn btn-warning" ng-click="copyVoucher(voucher.voucherName)">Sao
                  chép</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <h2>Sự kiện</h2>
    <div ng-repeat="voucher in vouchers">
      <div ng-if="voucher.type =='EVENT'">
        {{voucher.event}}
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3" ng-repeat=" voucher in vouchers">
        <div class="mb-3">
          <div ng-if="voucher.type ==='EVENT'">
            <div class="card mr-2" style="width:240px;height: 430px;">
              <div class="card-body pb-4">
                <h5 class="card-title text-danger">Mã: <span class="btn btn-secondary"
                    id="{{voucher.voucherName}}">{{voucher.voucherName}}</span>
                </h5>
                <h4>Giảm: {{voucher.condition | number : fractionSize}} VNĐ
                </h4>
                <p class="card-text">{{voucher.description}}</p>
                <p>Áp dụng từ ngày: {{voucher.effectiveDate | date: 'dd/MM/yyyy'}}</p>
                <p>Ngày hết hạn: {{voucher.expirationDate | date: 'dd/MM/yyyy'}}</p>
                <button class="btn btn-warning" ng-click="copyVoucher(voucher.voucherName)">Sao
                  chép</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="billing_details">
      <div class="check_title">
        <hr>
      </div>
      <div class="row">
        <div class="col-lg-6 form-group p_star">
          <h2>MÃ GIẢM GIÁ</h2>
          <input type="text" class="form-control my-3" ng-model="voucherN" placeholder="Mã khuyến mãi">
          <a class="button button-coupon" href="javascript:void(0)" ng-click="applyVoucher()">Áp dụng </a>
          <span class="placeholder" data-placeholder="Last name"></span>
        </div>
      </div>
    </div>
    <hr>
  </div>
  <div class="container">
    <div class="billing_details">
      <div class="row">
        <div class="col-lg-7">
          <h2>Thông tin khách hàng </h2>
          <form class="row contact_form" method="post" novalidate="novalidate">
            <div class="col-md-6 form-group p_star">
              <label for="first"><b>Họ</b><span class="text-danger">*</span> </label>
              <input type="text" class="form-control" id="first" ng-model="firstname" name="Họ" ng-value=""
                placeholder="Nhập họ của bạn">
              <span class="text-danger" style="font-size: 13px" ng-show="errorFirstName">(*)Vui lòng nhập họ</span>
            </div>
            <div class="col-md-6 form-group p_star">
              <label for="last"><b>Tên</b><span class="text-danger">*</span> </label>
              <input type="text" class="form-control" id="last" ng-model="lastname" name="Tên"
                placeholder="Nhập tên của bạn">
              <span class="text-danger" style="font-size: 13px" ng-show="errorLastName">(*)Vui lòng nhập Tên</span>
            </div>
            <div class="col-md-6 form-group p_star">
              <label for="email"><b>Email</b><span class="text-danger">*</span> </label>
              <input type="email" class="form-control" id="email" ng-model="email" name="email"
                placeholder="Nhập email của bạn" readonly>
              <span class="text-danger" style="font-size: 13px" ng-show="errorEmail">(*)Vui lòng nhập Email</span>
            </div>
            <div class="col-md-6 form-group p_star">
              <label for="gender"><b>Giới tính</b><span class="text-danger">*</span> </label><br>
              <input type="radio" id="gender" name="gender" ng-model="gender" value="MALE"> Nam
              <input type="radio" id="gender" name="gender" ng-model="gender" value="FEMALE"> Nữ <br>
              <span class="text-danger" style="font-size: 13px" ng-show="errorGender">(*)Vui lòng chọn giới tính</span>
            </div>

            <div class="col-md-6 form-group p_star">
              <label for="birthDay"><b>Ngày sinh</b><span class="text-danger">*</span> </label>
              <input type="date" id="birthDay" class="form-control" ng-model="birthday" name="birthDay">
              <span class="text-danger" style="font-size: 13px" ng-show="errorBirthday">(*)Vui lòng nhập ngày
                sinh</span>
            </div>
            <h2>Địa chỉ</h2>
            <div class="col-md-12 form-group p_star">
              <label for="phone"><b>Số điện thoại</b><span class="text-danger">*</span> </label>
              <input type="tel" class="form-control" id="phone" ng-model="phone" name="phone"
                placeholder="Nhập số điện thoại của bạn">
              <span class="text-danger" style="font-size: 13px" ng-show="errorPhone">(*)Vui lòng nhập SĐT</span>
              <span class="text-danger" style="font-size: 13px" ng-show="errorPhoneCheck">(*)Số điện thoại phải đúng
                định dạng</span>
            </div>
            <div class="col-lg-4">
              <select class="form-select form-select-sm " style="font-size: 16px" id="city"
                aria-label=".form-select-sm">
                <option ng-value="" style="font-size: 16px" class="form-control" selected>Chọn tỉnh thành
                </option>
              </select>
              <span class="text-danger" style="font-size: 13px" ng-show="errorCity">(*)Vui lòng chọn tỉnh</span>
            </div>
            <div class="col-lg-4">
              <select class="form-select form-select-sm " style="font-size: 16px" id="district"
                aria-label=".form-select-sm">
                <option value="" style="font-size: 16px" selected>Chọn quận huyện</option>
              </select>
              <span class="text-danger" style="font-size: 13px" ng-show="errorDistrict">(*)Vui lòng chọn thành
                phố</span>
            </div>
            <div class="col-lg-4">
              <select class="form-select form-select-sm" style="font-size: 16px" id="ward" aria-label=".form-select-sm">
                <option value="" style="font-size: 16px" selected>Chọn phường xã</option>
              </select>
              <span class="text-danger" style="font-size: 13px" ng-show="errorWard">(*)Vui lòng chọn phường xá</span>
            </div>
            <label for="address">Địa chỉ chi tiết</label>
            <div class="col-lg-12">
              <textarea class="form-control" ng-value="firstPart" rows="5" name="message" id="address"
                placeholder="Địa chỉ chi tiết"></textarea>
            </div>
            <span class="text-danger" style="font-size: 13px" ng-show="errorAddress">(*)Vui lòng chọn địa chỉ nhà</span>
            <div class="col-lg-12 mt-3">
              <button class="btn btn-primary" style="width: 200px;float: left;" ng-click="openModel()">Xem địa chỉ của
                tôi</button>
              <button class="btn btn-warning ms-3" style="width: 200px;" ng-click="updateContact()"> Cập nhật địa
                chỉ</button>
              <button class="btn btn-primary" style="width: 200px;float: right;" ng-click="addContact()"> Thêm mới địa
                chỉ</button>
            </div>
          </form>
          <div class="model-overlay" id="addressModel">
            <div class="model"><span class="close" ng-click="closeModel()">&times;</span>
              <div class="model-header">
                <h1>Địa chỉ của tôi</h1>

              </div>
              <div class="model-content">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>SĐT</th>
                      <th>Địa chỉ</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="contact in contactByUserId">
                      <td>{{contact.numberPhone}}</td>
                      <td>{{contact.addressName}}</td>
                      <td><a class="btn btn-primary mr-4" ng-click="GetupdateUserAndContact(contact);closeModel()">Cập
                          nhật</a><a class="btn btn-danger ms-2" ng-click="deleteContactId(contact)"
                          style="width: 89px;">Xóa
                        </a>
                        <div class="mt-2">
                          <a class="btn btn-primary mr-3 " ng-click="applyAddress(contact);closeModel()">Áp dụng
                            địa chỉ giao hàng
                          </a>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>

              </div>
              <span class="btn btn-danger mb-3" style="float: right;" ng-click="closeModel()">Đóng</span>
              <div class="pb-4"></div>
            </div>
          </div>
        </div>
        <div class="col-lg-5">
          <div class="order_box">
            <h2>Danh sách đặt hàng của bạn</h2>
            <ul class="list">
              <li><a href="javascript:void(0)">
                  <h4>Sản phẩm <span>Giá</span></h4>
                </a></li>

              <div ng-repeat="checkOut in checkOutCartId" style="font-size: 16px;">
                <a href="#!/shop/single-product/{{checkOut.product.productId}}" style="color: #010101;">{{
                  checkOut.product.productName | limitTo: 17 }}{{
                  checkOut.product.productName.length > 10
                  ? '...' : '' }} </a>
                <span class="ms-2" style="color: #010101;">x {{checkOut.quantity}}</span>
                <span ng-if="!isDiscounted(checkOut.product.productId)">
                  <span style="color: #010101;float: right;">{{ checkOut.product.price | number :
                    fractionSize }} VNĐ</span>
                </span>
                <span ng-repeat="discount in discounts">
                  <span ng-if="discount.product.productId == checkOut.product.productId">
                    <span style="color: #010101;float: right;"> {{
                      discount.discountedPrice | number :
                      fractionSize }} VNĐ</span>
                  </span>
                </span>
                <span ng-if="isDiscounted(checkOut.product.productId)"
                  style="text-decoration: line-through;float: right;margin-right: 15px;">
                  {{ checkOut.product.price | number : fractionSize }}
                </span>



              </div>
            </ul>
            <ul class="list list_2">
              <li><a href="javascript:void(0)">Tạm tính: <span>{{totalAmount | number : fractionSize}} VNĐ</span></a>
              </li>
              <li><a href="javascript:void(0)">Phí giao hàng: <span>{{freeShip}}</span></a></li>
              <details>
                <summary style="font-weight: bold;">Voucher</summary>
                <li><a href="javascript:void(0)">Giảm giá voucher tiền mặt: <span>- {{count |
                      number : fractionSize}}
                      VNĐ</span></a>
                </li>
                <li><a href="javascript:void(0)">Giảm giá voucher phần trăm: <span>- {{coutPT
                      }}
                      %</span></a>
                </li>
                <li><span class="text-danger" style="font-size: 11px;">(Voucher chỉ áp dụng được 1 loại)</span></li>
              </details>


              <li><a href="javascript:void(0)">{{discountTitle}}<span>{{discount}}</span></a></li>
              <li>
                <hr>
              </li>
              <li><a href="javascript:void(0)">Tổng tiền: <span>{{totalCartAll | number : fractionSize}} VNĐ</span></a>
              </li>
              <li>(Đã bao gồm VAT)</li>
            </ul>
            <form>
              <div class="payment_item">
                <div class="radion_btn">
                  <input type="radio" id="f-option5" name="selector" ng-model="selector" value="COD">
                  <label for="f-option5">Thanh toán khi nhận hàng</label>
                  <div class="check"></div>
                  <img src="../../assets/shop/images/home/donatech-thanh-toan-1.webp" style="width: 80px;" alt="">
                </div>
                <p style="background-color: #fff;">
                  <span style="font-size: 16px;color: chocolate;">Thông tin giao hàng</span><br>

                  <span ng-repeat="contact in filteredContacts">
                    Họ và tên: {{contact.user.firstname}} {{contact.user.lastname}} <br>
                    Giới tính: {{contact.user.gender === 'MALE' ? 'Nam':'Nữ'}} <br>
                    Email: {{contact.user.email}} <br>
                    Ngày sinh: {{contact.user.birthDay | date: 'dd/MM/yyyy' }} <br>
                    Số điện thoại: {{contact.numberPhone}} <br>
                    Địa chỉ: {{contact.addressName}} <br>
                  </span>

                </p>
                <span class="text-danger ms-3" style="font-size: 13px" id="checkAddress_"
                  ng-if="filteredContacts.length == underfine " ng-model="check_receive = true">(*)Vui lòng chọn địa chỉ
                  nhận hàng
                </span>
              </div>
              <div class="payment_item ">
                <div class="radion_btn">
                  <input type="radio" id="f-option6" name="selector" ng-model="selector" ng-click="payment()"
                    value="VNPay">
                  <label for="f-option6">Thanh toán bằng qua thẻ </label>
                  <img src="../../assets/shop/images/home/VNPay.png" style="width: 30px;" alt="">
                  <div class="check"></div>
                </div>
                <p>
                  <img id="image" src="" alt="Converted Image" style="display: none;width: 100%;">
                </p>
              </div>
              <span class="text-danger ms-3" style="font-size: 13px" ng-show="errorPay">(*)Vui lòng chọn hình thức thanh
                toán</span>
              <div class="creat_account">
                <input type="checkbox" id="f-option4" ng-model="checkboxModel" name="selector1" required>
                <label for="f-option4">Chấp nhận điều khoản của giày TwoBee</label>
                <a href="javascript:void(0)" ng-click="openModelAddress()">Điều khoản</a><br>
                <span class="text-danger ms-3" style="font-size: 13px" ng-show="errorDK">(*)Vui lòng chấp nhận điều
                  khoản</span>
                <span style="color: #010101;">
                  <span>
                    <!-- <span class="">{{dtColor.color.colorName}}</span> -->

                  </span>
                  <!-- Model -->
                </span>
              </div>
              <div class="text-center">
                <button class="button button-paypal" ng-click="checkOutCart()">Thanh toán ngay</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="model-overlay" id="Rules">
    <div class="model"><span class="close" ng-click="closeModelAddress()">&times;</span>
      <div class="model-header">
        <h1>Điều khoản và chính sách của cửa hàng</h1>

      </div>
      <div class="model-content">
        Điều khoản giày TwoBee
        <div>
          Chào mừng quý khách đến với TwoBee
          Xin vui lòng lưu ý một số điều khoản dưới đây trước khi sử dụng. Các Điều Khoản và Điều Kiện
          này áp dụng cho các sản phẩm của trang web cung cấp theo yêu cầu giao dịch của quý khách.
          Khi đồng ý giao dịch, quý khách đã chấp nhận sự ràng buộc bởi các Điều Khoản và Điều Kiện
          này với các khái niệm sau:

          "Tài khoản" nghĩa là tài khoản mà quý khách cần có để đăng nhập vào trang web của chúng tôi
          nếu quý khách muốn mua hàng.

          “Khách hàng Thành viên” có nghĩa là người đại diện cho một tổ chức/ đơn vị có giấy phép đăng
          ký kinh doanh. Cụ thể ở đây là cửa hàng giày dép,túi xách, các đại lý, cửa hàng bán lẻ
          hàng tiêu dùng.

          "Thành viên" nghĩa là cá nhân mua hàng tại trang web của chúng tôi.

          "Thông báo" nghĩa là thư điện tử của trang web để thông báo chúng tôi đã nhận được Đơn đặt
          hàng của quý khách.

          “Khách hàng” nghĩa là người mua hàng tại trang web của chúng tôi.

          "Ngày làm việc" nghĩa là các ngày trong tuần ngoại trừ Chủ Nhật hoặc bất kì ngày lễ nào ở
          Việt Nam.

          "Xác nhận đơn đặt hàng" nghĩa là chúng tôi sẽ gửi thư điện tử cho quý khách để xác nhận về
          đơn đặt hàng của quý khách.

          "Đơn hàng" nghĩa là đơn hàng do quý khách đặt trên trang web để mua sản phẩm từ chúng tôi.

          "Quý khách" nghĩa là khách hàng đang sử dụng trang web.

          Quy định về người sử dụng
          Khi quý khách truy cập vào trang web www.giayhaanh.com có nghĩa là đã đồng ý với các Điều
          khoản và Điều kiện của chúng tôi. Những quy định và điều kiện sử dụng, chúng tôi có quyền
          thay đổi, chỉnh sửa, thêm hoặc lược bỏ bất kỳ phần nào vào bất cứ lúc nào. Các thay đổi có
          hiệu lực ngay khi được đăng trên trang web mà không cần thông báo trước. Và khi quý khách
          tiếp tục sử dụng trang web, sau khi các thay đổi về Quy định và Điều kiện được đăng tải, có
          nghĩa là quý khách chấp nhận với những thay đổi đó. Vì vậy, quý khách vui lòng kiểm tra để
          cập nhật những thay đổi đó.

          Thành viên tham gia giao dịch trên trang TMĐT www.giayhaanh.com là các cá nhân hoặc người
          đại diện cho một đơn vị, tổ chức có đầy đủ năng lực hành vi dân sự hoặc truy cập dưới sự
          giám sát của cha mẹ hay người giám hộ hợp pháp.

          Chúng tôi đưa ra các điều khoản sử dụng để quý khách có thể mua sắm trên web trong khuôn khổ
          đã đề ra.

          Quý khách không được sử dụng bất kỳ phần nào của trang web với mục đích thương mại hoặc nhân
          danh đối tác thứ ba nếu không có văn bản thỏa thuận giữa chúng tôi và quý khách. Khi vi phạm
          những điều nào trong đây, chúng tôi sẽ hủy, hoặc tước các quyền lợi về thành viên của quý
          khách mà không cần báo trước.

          Khi muốn sử dụng các dịch vụ trên trang web, quý khách phải cung cấp thông tin xác thực cho
          chúng tôi, và phải cập nhật khi có những thay đổi. Quý khách tự chịu trách nhiệm với mật
          khẩu, tài khoản và hoạt động của mình trên trang web. Ngoài ra, quý khách phải thông báo cho
          chúng tôi biết khi tài khoản bị truy cập trái phép. Chúng tôi không chịu bất kỳ trách nhiệm
          nào đối với những thiệt hại hoặc mất mát xảy ra, do quý khách không tuân thủ các quy định và
          các điều khoản.

          Trong suốt quá trình đăng ký, chúng tôi sẽ gửi bản tin và những thông tin quảng cáo qua thư
          điện tử. Sau đó, nếu không muốn tiếp tục nhận những thông tin này, quý khách có thể từ chối
          bằng cách nhấp vào đường liên kết ở dưới cùng trong mọi thư điện tử mà chúng tôi gửi tới.

          Điều khoản về đơn hàng và giá cả
          Chúng tôi có quyền từ chối, hoặc hủy đơn hàng của quý khách vì những lý do phát sinh. Chúng
          tôi có thể hỏi thêm về số điện thoại và địa chỉ trước khi nhận hoặc hủy đơn hàng.

          Chúng tôi cam kết đưa đúng thông tin và giá cả về các sản phẩm trên trang web. Tuy nhiên,
          đôi lúc vẫn có sai sót xảy ra, ví dụ như trường hợp giá sản phẩm không hiển thị chính xác
          hoặc sai giá trên trang web. Tùy theo từng trường hợp chúng tôi sẽ liên hệ hướng dẫn hoặc
          thông báo hủy đơn hàng đó cho quý khách.

          Cách hình thành Hợp Đồng
          Khi đặt hàng, quý khách phải cung cấp cho chúng tôi những thông tin chính xác, và quý
          khách phải theo hướng dẫn trên trang web về cách đặt hàng.

          Khi đã chọn sản phẩm và đặt hàng, quý khách sẽ được thông báo những chi phí phải trả, bao
          gồm thuế giá trị hàng hóa và dịch vụ nếu có. Trừ khi có quy định khác trên trang web, mọi
          chi phí sẽ được trả bằng tiền Việt Nam Đồng, đang có hiệu lực.

          Quý khách sẽ phải thanh toán đủ số tiền tại thời điểm đặt hàng bằng một trong các phương
          thức thanh toán được chúng tôi yêu cầu để tiến hành đơn hàng của quý khách. Và trong bất cứ
          trường hợp nào chúng tôi sẽ không giao hàng trước khi quý khách đã hoàn tất việc thanh
          toán. Thời gian hợp đồng có hiệu lực được tính từ lúc quý khách thanh toán đầy đủ cho chúng
          tôi.

          Nếu quý khách được hỏi thông tin về thẻ thanh toán, quý khách phải là người có đầy đủ
          quyền sử dụng thẻ hoặc tài khoản thanh toán đó. Thẻ hoặc tài khoản đó phải có đủ tiền để trả
          các khoản thanh toán đề xuất cho chúng tôi. Chúng tôi có quyền xác nhận thông tin thanh toán
          của quý khách trước khi cung cấp sản phẩm.

          Khi quý khách gửi đơn hàng trên trang web, quý khách đã đồng ý với những Điều Khoản và
          Điều Kiện này tại thời điểm đặt hàng. Quý khách có trách nhiệm xem lại những Điều Khoản và
          Điều Kiện mới nhất vào mỗi lần đặt hàng.

          Hợp Đồng sẽ được hình thành và chúng tôi sẽ bị ràng buộc pháp lý phải cung cấp sản phẩm cho
          quý khách khi chúng tôi đã chấp nhận đơn hàng của quý khách. Sự chấp nhận sẽ được thông
          báo rõ ràng cho quý khách qua thư điện tử, dưới hình thức văn bản tên là “Xác Nhận Đơn
          Hàng” nói rõ là chúng tôi chấp nhận đơn hàng của quý khách. Thư Xác Nhận Đơn Hàng của chúng
          tôi sẽ có hiệu lực khi nó được gửi bởi chúng tôi. Chúng tôi sẽ gửi hóa đơn đến quý khách
          khi chúng tôi giao hàng. Cho đến lúc chấp nhận đơn hàng của quý khách, chúng tôi có quyền
          từ chối tiến hành đơn hàng. Nếu chúng tôi hủy đơn hàng trước khi chúng tôi chấp nhận đơn
          hàng đó, chúng tôi sẽ nhanh chóng hoàn trả bất kì số tiền nào đã được quý khách đã thanh
          toán bằng thẻ tín dụng hoặc thẻ ghi nợ cho đơn hàng.

          Nếu quý khách muốn thay đổi đơn hàng của mình sau khi đã gửi tới trang web, xin vui lòng
          liên hệ với chúng tôi ngay lập tức. Tuy nhiên, chúng tôi không đảm bảo rằng chúng tôi có thể
          sửa đổi đơn hàng theo yêu cầu của quý khách.

          Chúng tôi cố gắng hết sức để đảm bảo rằng giá cả chúng tôi đưa ra là chính xác, nhưng giá
          trị đơn hàng của quý khách sẽ được chúng tôi xác nhận lại vì đó là một phần của thủ tục
          chấp nhận đơn hàng của chúng tôi. Nếu giá của đơn hàng thay đổi trước khi chúng tôi chấp
          nhận đơn hàng của quý khách, chúng tôi sẽ liên lạc với quý khách để xác nhận rằng quý
          khách vẫn muốn tiếp tục mua hàng ở mức giá đã sửa đổi.

          Hợp đồng sẽ chỉ điều chỉnh đến những sản phẩm mà chúng tôi đã xác nhận trong thư Xác Nhận
          Đơn Hàng. Chúng tôi sẽ không cung cấp bất cứ sản phẩm nào cho đến khi chúng tôi gửi thư Xác
          Nhận Đơn Hàng có đề cập đến những sản phẩm đó.

          Giao hàng
          Chúng tôi sẽ giao sản phẩm đến địa điểm mà quý khách hàng yêu cầu trong đơn đặt hàng.

          Quý khách có thể lựa chọn phương thức giao hàng nhanh hoặc giao hàng thường. Để biết thông
          tin chi tiết về chi phí vận chuyển, quý khách vui lòng tham khảo ở phần Chính sách Giao nhận
          hàng.

          Chúng tôi sẽ giao hàng trong khoản thời gian mà chúng tôi đã định trước cho quý khách tại
          thời điểm đặt hàng (hoặc sẽ được cập nhật lại trong thư Xác Nhận Đơn Hàng) chứ chúng tôi sẽ
          không thể xác định được ngày giao hàng chính xác khi quý khách đặt hàng. Chúng tôi luôn cố
          gắng giao hàng trong khoảng thời gian ngắn nhất, tùy vào địa điểm và phương thức giao hàng
          mà quý khách lựa chọn.

          Quý khách có thể chỉ định đối tượng nhận hàng. Tuy nhiên, quý khách phải chịu trách nhiệm
          khi có bất kỳ phát sinh nào sau khi hàng hóa trong đơn hàng được giao cho người chỉ định đó.

          Chúng tôi sẽ cho quý khách biết nếu như chúng tôi có sự chậm trễ trong việc giao hàng,
          chúng tôi sẽ không chịu trách nhiệm cho bất cứ tổn thất, các khoản nợ, chi phí, thiệt hại,
          hoặc cước phí phát sinh từ việc giao hàng trễ.

          Khi hàng được giao, quý khách sẽ được yêu cầu ký nhận hàng. Quý khách sẽ phải kiểm tra
          sản phẩm cho bất kì lỗi lầm hoặc hư hại nào đó trước khi ký nhận hàng. Quý khách nên giữ
          kỹ biên lai phòng trường hợp sau này quý khách cần nói chuyện lại với chúng tôi về sản phẩm
          đã mua.

          Xin quý khách lưu ý rằng có một số địa điểm chúng tôi sẽ không thể giao hàng được. Nếu
          trường hợp đó xảy ra, chúng tôi sẽ thông báo cho quý khách qua thông tin liên lạc mà quý
          khách đã cung cấp khi đặt hàng và sắp xếp hủy đơn hàng hoặc giao hàng đến một địa chỉ khác.

          Chúng tôi gói hàng bằng bao bì chuẩn của chúng tôi.

          Quý khách phải cẩn thận khi nhận sản phẩm để tránh làm hỏng, đặc biệt là khi sử dụng bất kì
          vật dụng sắc nhọn để mở bao bì.

          Quý khách phải đảm bảo rằng quý khách sẵn sàng nhận hàng mà không có bất cứ sự chậm trễ
          nào và vào bất kỳ thời gian nào hợp lý mà chúng tôi đã đưa ra.

          Nếu quý khách không thể có mặt để nhận hàng, chúng tôi sẽ để lại ghi chú hướng dẫn cách gửi
          hàng lại hoặc đến công ty vận chuyển để nhận.

          Nếu việc giao và nhận hàng bị trì hoãn vì sự từ chối nhận hàng của quý khách từ đơn vị giao
          hàng chúng tôi sẽ xử lý bằng cách sau (mà không làm ảnh hưởng bất cứ quyền lợi hay biện
          pháp xử lý nào có sẵn cho chúng tôi): Quý khách phải chịu chi phí vận chuyển nếu như đơn vị
          vận chuyển tính vào chi phí phát sinh, hoặc

          Quý khách có trách nhiệm đảm bảo rằng các sản phẩm thích hợp với nhu cầu sử dụng và đáp ứng
          các yêu cầu cá nhân của quý khách. Chúng tôi không đảm bảo rằng các sản phẩm sẽ đáp ứng hết
          các yêu cầu cá nhân của quý khách. Quý khách cần biết rằng mọi sản phẩm đều mang chất
          lượng chuẩn chứ không được sản xuất riêng và đáp ứng toàn bộ yêu cầu mà quý khách muốn.

          Quý khách được quyền kiểm tra hàng khi đơn hàng được giao tới. Quý khách phải ký xác nhận
          vào việc đã nhận đầy đủ hàng như trong đơn hàng với người chịu trách nhiệm giao hàng của
          chúng tôi.

          Thay đổi đơn hàng bởi khách hàng
          Quý khách sẽ không hủy được đơn hàng khi đã quyết định đặt mua hàng hóa của chúng tôi. Để
          biết thông tin rõ hơn, quý khách vui lòng liên hệ với Bộ Phận Dịch Vụ Khách Hàng.

          Mã giảm giá
          Quý khách có thể sử dụng mã giảm giá để thanh toán cho các sản phẩm trên trang web. Mỗi đơn
          hàng chỉ được sử dụng 01 mã giảm giá. Với những đơn hàng đã được thanh toán, quý khách không
          thể sử dụng mã giảm giá.

          Chúng tôi có thể gửi quà tặng hoặc mã giảm giá cho quý khách qua thư điện tử và các mã giảm
          giá đó chỉ có thể sử dụng trên trang web. Tuy nhiên, chúng tôi không chịu trách nhiệm cho
          bất cứ lỗi nào trong địa chỉ thư điện tử hoặc tên người nhận.

          Nếu quý khách có phiếu mua hàng hoặc mã giảm giá, phiếu đó có thể được sử dụng bởi người
          khác và quý khách có thể trao toàn quyền sử dụng phiếu mua hàng hoặc mã giảm giá cho người
          đó.

          Trong trường hợp gian lận, lừa gạt hoặc có những hành vi nghi ngờ phạm pháp liên quan đến
          việc mua mã giảm giá hoặc quy đổi điểm thưởng của mã giảm giá đó trên trang web, chúng tôi
          có quyền khóa Tài Khoản cá nhân của quý khách và/hoặc yêu cầu phương thức thanh toán khác.

          Chúng tôi không chịu trách nhiệm cho bất cứ tổn thất, mất trộm, hoặc chữ bị mờ trên các mã
          giảm giá.

          Các mã giảm giá chỉ có giá trị sử dụng trong khoảng thời gian được ghi trên phiếu, chỉ được
          sử dụng 1 lần và không thể sử dụng kèm với các chương trình khuyến mãi khác. Một số thương
          hiệu sẽ không được áp dụng trong các chương trình giảm giá.

          Giá trị của mã giảm giá không thể sử dụng để trả cho các sản phẩm của một bên thứ ba nào
          khác chúng tôi, giá trị của mã giảm giá không thể tích lũy lãi suất hoặc có thể quy đổi ra
          tiền mặt.

          Nếu quý khách mua sản phẩm có giá trị thấp hơn giá trị của mã giảm giá, chúng tôi sẽ không
          hoàn trả tiền hay giá trị còn lại nào cho quý khách. Nếu giá trị của mã giảm giá không đủ
          để mua sản phẩm mà quý khách mong muốn, quý khách sẽ phải trả thêm qua các cách thanh toán
          khác.

          Bản quyền và sở hữu trí tuệ
          Chúng tôi là chủ sở hữu hay còn gọi là người được cấp phép hoặc người có quyền sở hữu đối
          với trang web và các tài liệu đăng tải trên trang web. Toàn bộ nội dung của trang web được
          bảo vệ bởi Luật bản quyền, Luật sở hữu trí tuệ của Việt Nam và các công ước quốc tế.

          Quý khách không được sử dụng bất kỳ tài liệu nào trên trang web cho mục đích thương mại khi
          chưa được sự đồng ý từ chúng tôi hay những người đã cấp phép cho chúng tôi.

          Quý khách có thể in một bản sao và có thể tải xuống trích đoạn của bất kỳ trang nào trên
          trang web để quý khách tiện tham khảo hoặc cho những người khác trong cùng tổ chức của quý
          khách biết đến, với mục đích duy nhất là mua hàng, nhưng phải ghi rõ nguồn và trích dẫn
          nguyên bản theo đường liên kết từ trang web của chúng tôi theo đúng quy định về luật sở hữu
          trí tuệ và bản quyền.

          Quý khách không được phép chỉnh sửa giấy tờ hay bản sao điện tử của bất kỳ tài liệu nào mà
          quý khách đã in ra hoặc tải xuống. Và quý khách không được sử dụng bất kỳ phác họa, hình
          ảnh, phim, âm thanh hay đồ họa hoặc bất kì một dấu hiệu nào của chúng tôi với mục đích riêng
          của quý khách.

          Nếu quý khách in, sao chép, hoặc tải bất kỳ phần nào của trang web và vi phạm Quy định về
          người sử dụng, quyền sử dụng trang web của quý khách sẽ bị vô hiệu hóa ngay lập tức, khi đó
          quý khách phải có trách nhiệm hoàn trả hoặc hủy bỏ các bản sao của các tài liệu mà quý khách
          đã làm ra và bồi thường toàn bộ các thiệt hại phát sinh có liên quan.

          Điều khoản về bất khả kháng (Các trường hợp nằm ngoài kiểm soát của chúng tôi)
          Chúng tôi sẽ không chịu trách nhiệm cho bất kỳ hành vi vi phạm, cản trở hoặc chậm trễ trong
          việc thực hiện hợp đồng do bất kỳ nguyên nhân nằm ngoài tầm kiểm soát của chúng tôi như: các
          hiểm họa thiên nhiên và những tai nạn không thể tránh khỏi, các hành động của bên thứ ba
          (bao gồm và không giới hạn trong tin tặc, các nhà cung cấp, chính phủ, thuộc chính phủ, cơ
          quan đa quốc gia hay các chính quyền địa phương), khởi nghĩa, bạo loạn, bạo động chính
          quyền, chiến tranh, thù địch, hoạt động hiếu chiến, các trường hợp quốc gia khẩn cấp, khủng
          bố, buôn lậu, bắt bớ, hạn chế hay cầm tù của cơ quan có thẩm quyền, đình công, dịch bệnh,
          hỏa hoạn, cháy nổ, bão táp, lũ lụt, hạn hán, điều kiện thời tiết, động đất, thảm họa thiên
          nhiên, tai nạn, sự cố máy móc, phần mềm của 1 bên thứ ba, gián đoạn hoặc vấn đề về việc cung
          cấp tiện ích công cộng (bao gồm điện, viễn thông, hay Internet), thiếu hụt hoặc không có khả
          năng để lấy sản phẩm, vật liệu, thiết bị, hay vận chuyển (“Trường hợp bất khả kháng”), mặc
          cho những trường hợp đó có thể lường trước được. Khi có những trường hợp bất khả kháng xảy
          ra, việc giao hàng có thể bị chậm trễ cho đến khi chúng tôi hoạt động bình thường.

          Hoặc là quý khách hoặc là chúng tôi có thể chấm dứt hợp đồng bằng văn bản thông báo cho bên
          kia biết khi các “Trường hợp bất khả kháng” kéo dài 2 ngày làm việc hoặc hơn. Trong trường
          hợp này, không bên nào sẽ chịu trách nhiệm cho bên nào cả khi hợp đồng được chấm dứt.

          Nếu chúng tôi có hợp đồng giao các sản phẩm giống nhau hoặc tương tự cho nhiều hơn 1 khách
          hàng và chúng tôi không thể thực hiện nghĩa vụ giao hàng cho quý khách vì các trường hợp
          bất khả kháng, chúng tôi có toàn quyền quyết định sẽ thực hiện hợp đồng nào và thực hiện đến
          mức độ nào.
        </div>
      </div>
      <span class="btn btn-danger mb-3" style="float: right;" ng-click="closeModelAddress()">Đóng</span>
      <div class="pb-4"></div>
    </div>
  </div>
</section>
<!--================End Checkout Area =================-->