<!-- ================ start banner area ================= -->
<section class="blog-banner-area" id="category">
  <div class="container h-100">
    <div class="blog-banner">
      <div class="text-center">
        <h1>Order Confirmation</h1>
        <nav aria-label="breadcrumb" class="banner-breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javasctipt:void(0)">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Shop Category</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</section>
<!-- ================ end banner area ================= -->

<!--================Order Details Area =================-->
<section class="order_details section-margin--small" ng-controller="confirmationController">
  <div class="container">
    <h1 class="text-center " style="font-weight: bold;">Chúc mừng bạn đã đặt hàng thành công</h1>
    <a class="btn btn-warning text-center billing-alert" href="/index.html#!/shop/category">Tiếp tục mua
      sắm</a>
    <div class="row mb-5">
      <div class="col-md-12 ">
        <div class="confirmation-card">
          <h3 class="billing-title">Đơn hàng</h3>
          <div class="mb-3">
            Từ ngày: <input type="date" ng-model="startDate">
            Đến ngày: <input type="date" ng-model="endDate">
            <button class="btn btn-primary" ng-click="filterOrdersByDate()">Tìm kiếm</button>
            <select ng-model="selectedStatus" class="form-control mt-2" ng-change=" onStatusChange()">
              <option value="">-- Chọn trạng thái --</option>
              <option value="all">--Tất cả --</option>
              <option value="Đang chờ hoàn tiền">Đang chờ hoàn tiền</option>
              <option value="Đang chờ xác nhận">Đang chờ xác nhận</option>
              <option value="Thành công">Thành công</option>
            </select>
          </div>
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Mã đơn hàng</th>
                <th>Trạng thái đơn hàng</th>
                <th>Ngày đặt</th>
                <th>Ghi chú</th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody ng-repeat="od in filteredOrders || orders">
              <tr>
                <td>{{od.orderId}}</td>
                <td>{{od.status}}</td>
                <td>{{od.createAt | date: 'HH:mm:ss dd/MM/yyyy'}}</td>
                <td>{{od.note}}</td>
                <td> <a style="float: right;" href="javascript:void(0)" class="btn btn-primary"
                    ng-click="details(od)">Xem chi tiết</a></td>
                <td ng-if=" od.status == 'Đang chờ xác nhận'">
                  <a href="javascript:void(0)" class="btn btn-danger" ng-click="deleteOd(od)">Hủy đơn</a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <h3 class="text-danger">{{detailsOrder}}</h3>
    <div class="order_details_table">
      <h2>Chi tiết đơn hàng</h2>
      <div ng-repeat="ct in contacts">
        <div ng-if="ct.contactId == contactIdItem">
          <p id="check">Địa chỉ giao hàng: {{ct.addressName}}</p>
        </div>
      </div>
      <div class="table-responsive">
        <div ng-repeat="checkOut in checkOutCartId" style="font-size: 16px;">
          <a href="#!/shop/single-product/{{checkOut.product.productId}}" style="color: #010101;">{{
            checkOut.product.productName | limitTo: 17 }}{{
            checkOut.product.productName.length > 10
            ? '...' : '' }} </a>
          <span class="ms-" style="color: #010101;">x {{checkOut.quantity}}</span>
          <span ng-if="!isDiscounted(checkOut.product.productId)">
            <span style="color: #010101;float: right; text-decoration: line-through;">{{ checkOut.product.price | number
              :
              fractionSize }} VNĐ</span>
          </span>
          <span ng-repeat="discount in discounts">
            <span ng-if="discount.product.productId == checkOut.product.productId">
              <span style="color: #010101;float: right;margin-right: 30px;"> {{
                discount.discountedPrice | number :
                fractionSize }} VNĐ</span>
            </span>
          </span>
          <span ng-if="isDiscounted(checkOut.product.productId)"
            style="text-decoration: line-through;float: right;margin-right: 15px;">
            {{ checkOut.product.price | number : fractionSize }}
          </span>
          <div ng-if="$last">Hình thức thanh toán: {{ checkOut.order.payments }}</div>
        </div>
        <ul class="list list_2 mt-5" style="font-size: 16px;">
          <li><a href="javasctipt:void(0)">Tạm tính: <span>{{totalAmount | number : fractionSize}} VNĐ</span></a></li>
          <li><a href="javasctipt:void(0)">Phí giao hàng: <span>{{freeShip}}</span></a></li>
          <li><a href="javasctipt:void(0)">{{discountTitle}}<span>{{discount}}</span></a></li>
          <li ng-if="voucher.condition != null"><a href="javasctipt:void(0)">Voucher tiền mặt: <span>{{voucher.condition
                | number :
                fractionSize}} VNĐ</span></a>
          </li>
          <li ng-if="voucher.amountPercentage != null"><a href="javasctipt:void(0)">Voucher phần trăm:
              <span>{{voucher.amountPercentage}}
                %</span></a></li>
          <li><a href="javasctipt:void(0)">Tổng tiền: <span>{{totalCartAll | number : fractionSize}} VNĐ</span></a></li>
          <li>(Đã bao gồm VAT) </li>
        </ul>


      </div>
    </div>
  </div>
  </div>
</section>
<!--================End Order Details Area =================-->