.carousel {
    width: 100%;
    height: 450px;
    overflow: hidden;
    position: relative;
}

.carousel .list-carousel .item-carousel {
    position: absolute;
    inset: 0 0 0 0;
}

.carousel .list-carousel .item-carousel img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel .list-carousel .item-carousel .content-carousel {
    position: absolute;
    top: 20px;
    width: 1140px;
    max-width: 80%;
    left: -50%;
    transform: translateX(-50%);
    padding-right: 30%;
}