<style>
    #html-body [data-pb-style=DLVK40D] {
        justify-content: flex-start;
        display: flex;
        flex-direction: column;
        background-position: left top;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: scroll;
        text-align: center
    }

    #html-body [data-pb-style=TMTV2F3] {
        text-align: center;
        border-style: none
    }

    #html-body [data-pb-style=TXCJOYJ],
    #html-body [data-pb-style=UTIRUDT] {
        max-width: 100%;
        height: auto
    }

    @media only screen and (max-width: 768px) {
        #html-body [data-pb-style=TMTV2F3] {
            border-style: none
        }
    }
</style>
<div class="header-promotion" data-content-type="row" data-appearance="full-bleed" data-enable-parallax="0"
    data-parallax-speed="0.5" data-background-images="{}" data-background-type="image" data-video-loop="true"
    data-video-play-only-visible="true" data-video-lazy-load="true" data-video-fallback-src="" data-element="main"
    data-pb-style="DLVK40D">
    <figure data-content-type="image" data-appearance="full-width" data-element="main" data-pb-style="TMTV2F3"><a
            href=" https://hoang-phuc.com/lunar-new-year-sale-up-to-80.html" target="" data-link-type="category"
            title="" data-element="link"><img class="pagebuilder-mobile-hidden"
                src="https://hoang-phuc.com/media/wysiwyg/topbanner-gif.gif" alt="" title="" loading=""
                data-element="desktop_image" data-pb-style="TXCJOYJ"><img class="pagebuilder-mobile-only"
                src="https://hoang-phuc.com/media/wysiwyg/topbannermobilegif.gif" alt="" title="" loading=""
                data-element="mobile_image" data-pb-style="UTIRUDT"></a></figure>
</div>