<div class="row">
    <div class="col-lg-2">
        <a class="logo" href="/index.html" title="" aria-label="store logo">
            <img src="/assets/logos/logo.jpg">
        </a>
    </div>
    <div class="col-lg-4">
        <div class="block block-title"><strong>Tìm kiếm</strong></div>
        <div class="block block-content">
            <form class="form minisearch" id="search_mini_form" action="https://hoang-phuc.com/catalogsearch/result/"
                method="get">
                <div class="field search">
                    <div class="control">
                        <div class="mgn-search-content">
                            <div class="form-search-control">
                                <div class="form-search"><span
                                        class="header-search-back icon-chevron_left desktop-hide"></span> <input
                                        id="search" type="text" name="q" value="" placeholder="Tìm kiếm sản phẩm"
                                        class="input-text" maxlength="128" role="combobox" aria-haspopup="false"
                                        aria-autocomplete="both" autocomplete="off"><span class="icon-search"></span>
                                    <span class="clear-value" style="display: none;"></span> <button type="submit"
                                        class="action search mobile-hide">Tìm kiếm</button>
                                </div>
                            </div>
                            <div id="search_autocomplete" class="search-autocomplete"></div>
                            <div class="nested"><a class="action advanced"
                                    href="https://hoang-phuc.com/catalogsearch/advanced/"
                                    data-action="advanced-search">Tìm kiếm nâng cao</a></div>
                            <div class="search-autocomplete-block" data-bind="scope: 'magenestsearch'">
                                <div id="ajaxsearch_autocomplete" class="ajaxsearch-autocomplete"
                                    style="display: none;">
                                    <div class="suggestion-content">
                                        <div class="suggestion-container"><!-- ko if: searchTerm().length > 0 -->
                                            <div class="suggestion-term">
                                                <div class="suggestion-title"><span>
                                                        <p data-role="suggestion-title"
                                                            data-bind="text: suggestionTitleText">Gợi ý tìm kiếm</p>
                                                    </span> <!-- ko if: canShowRemoveAllHistoryIcon --><!-- /ko -->
                                                </div>
                                                <div class="suggestion-option">
                                                    <ul data-bind="foreach: searchTerm">
                                                        <li data-bind="attr: { 'class': 'search-term-result-' + $index() }, click: $parent.viewMoreUrl.bind($data, query_text)"
                                                            class="search-term-result-0">
                                                            <!-- ko if: $parent.canShowNumResults --><!-- /ko --><!-- ko ifnot: $parent.canShowNumResults --><span
                                                                class="option"
                                                                data-bind="text: query_text, click: $parent.viewMoreUrl.bind($data, query_text)">giay</span>
                                                            <!-- /ko --><!-- ko if: $parent.canShowRemoveHistoryIcon --><!-- /ko -->
                                                        </li>
                                                        <li data-bind="attr: { 'class': 'search-term-result-' + $index() }, click: $parent.viewMoreUrl.bind($data, query_text)"
                                                            class="search-term-result-1">
                                                            <!-- ko if: $parent.canShowNumResults --><!-- /ko --><!-- ko ifnot: $parent.canShowNumResults --><span
                                                                class="option"
                                                                data-bind="text: query_text, click: $parent.viewMoreUrl.bind($data, query_text)">dep</span>
                                                            <!-- /ko --><!-- ko if: $parent.canShowRemoveHistoryIcon --><!-- /ko -->
                                                        </li>
                                                        <li data-bind="attr: { 'class': 'search-term-result-' + $index() }, click: $parent.viewMoreUrl.bind($data, query_text)"
                                                            class="search-term-result-2">
                                                            <!-- ko if: $parent.canShowNumResults --><!-- /ko --><!-- ko ifnot: $parent.canShowNumResults --><span
                                                                class="option"
                                                                data-bind="text: query_text, click: $parent.viewMoreUrl.bind($data, query_text)">non</span>
                                                            <!-- /ko --><!-- ko if: $parent.canShowRemoveHistoryIcon --><!-- /ko -->
                                                        </li>
                                                        <li data-bind="attr: { 'class': 'search-term-result-' + $index() }, click: $parent.viewMoreUrl.bind($data, query_text)"
                                                            class="search-term-result-3">
                                                            <!-- ko if: $parent.canShowNumResults --><!-- /ko --><!-- ko ifnot: $parent.canShowNumResults --><span
                                                                class="option"
                                                                data-bind="text: query_text, click: $parent.viewMoreUrl.bind($data, query_text)">ao
                                                                khoac</span>
                                                            <!-- /ko --><!-- ko if: $parent.canShowRemoveHistoryIcon --><!-- /ko -->
                                                        </li>
                                                        <li data-bind="attr: { 'class': 'search-term-result-' + $index() }, click: $parent.viewMoreUrl.bind($data, query_text)"
                                                            class="search-term-result-4">
                                                            <!-- ko if: $parent.canShowNumResults --><!-- /ko --><!-- ko ifnot: $parent.canShowNumResults --><span
                                                                class="option"
                                                                data-bind="text: query_text, click: $parent.viewMoreUrl.bind($data, query_text)">Ao
                                                                thun nam</span>
                                                            <!-- /ko --><!-- ko if: $parent.canShowRemoveHistoryIcon --><!-- /ko -->
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div><!-- /ko -->
                                        </div>
                                        <div class="suggestion-container">
                                            <div class="product-container">
                                                <div class="product-list">
                                                    <div class="product-content"><!-- ko if: canShowRecommend -->
                                                        <style>
                                                            #html-body [data-pb-style=L2QW87N] {
                                                                justify-content: flex-start;
                                                                display: flex;
                                                                flex-direction: column;
                                                                background-position: left top;
                                                                background-size: cover;
                                                                background-repeat: no-repeat;
                                                                background-attachment: scroll
                                                            }

                                                            #html-body [data-pb-style=KN8EKW5] {
                                                                max-width: 100%;
                                                                height: auto
                                                            }
                                                        </style>
                                                        <div data-content-type="row" data-appearance="full-bleed"
                                                            data-enable-parallax="0" data-parallax-speed="0.5"
                                                            data-background-images="{}" data-background-type="image"
                                                            data-video-loop="true" data-video-play-only-visible="true"
                                                            data-video-lazy-load="true" data-video-fallback-src=""
                                                            data-element="main" data-pb-style="L2QW87N">
                                                            <figure data-content-type="image"
                                                                data-appearance="full-width" data-element="main"><img
                                                                    class="pagebuilder-mobile-only"
                                                                    src="https://hoang-phuc.com/media/wysiwyg/Group_1_4.png"
                                                                    alt="" title="" data-element="mobile_image"
                                                                    data-pb-style="KN8EKW5"></figure>
                                                        </div>
                                                        <!-- /ko --><!-- ko ifnot: canShowRecommend --><!-- /ko -->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="related-posts-wrapper">
                                        <style>
                                            #html-body [data-pb-style=QO2RR1P],
                                            #html-body [data-pb-style=S95BIC7] {
                                                background-position: left top;
                                                background-size: cover;
                                                background-repeat: no-repeat;
                                                background-attachment: scroll
                                            }

                                            #html-body [data-pb-style=QO2RR1P] {
                                                justify-content: flex-start;
                                                display: flex;
                                                flex-direction: column
                                            }

                                            #html-body [data-pb-style=S95BIC7] {
                                                margin-bottom: 10px;
                                                align-self: stretch
                                            }

                                            #html-body [data-pb-style=NPYU3Y2] {
                                                display: flex;
                                                width: 100%
                                            }

                                            #html-body [data-pb-style=VUJXAA3] {
                                                justify-content: flex-start;
                                                display: flex;
                                                flex-direction: column;
                                                background-position: left top;
                                                background-size: cover;
                                                background-repeat: no-repeat;
                                                background-attachment: scroll;
                                                width: 100%;
                                                align-self: stretch
                                            }
                                        </style>
                                        <div data-content-type="row" data-appearance="full-width"
                                            data-enable-parallax="0" data-parallax-speed="0.5"
                                            data-background-images="{}" data-background-type="image"
                                            data-video-loop="true" data-video-play-only-visible="true"
                                            data-video-lazy-load="true" data-video-fallback-src="" data-element="main"
                                            data-pb-style="QO2RR1P">
                                            <div class="row-full-width-inner" data-element="inner">
                                                <div data-content-type="text" data-appearance="default"
                                                    data-element="main">
                                                    <p><strong id="YWQGCXW">BÀI VIẾT LIÊN QUAN</strong></p>
                                                    <p><a tabindex="0" href="https://hoang-phuc.com/thoi-trang">Xem
                                                            thêm</a></p>
                                                </div>
                                                <div class="pagebuilder-column-group post-related"
                                                    data-background-images="{}" data-content-type="column-group"
                                                    data-appearance="default" data-grid-size="12" data-element="main"
                                                    data-pb-style="S95BIC7">
                                                    <div class="pagebuilder-column-line" data-content-type="column-line"
                                                        data-element="main" data-pb-style="NPYU3Y2">
                                                        <div class="pagebuilder-column" data-content-type="column"
                                                            data-appearance="full-height" data-background-images="{}"
                                                            data-element="main" data-pb-style="VUJXAA3">
                                                            <div data-content-type="html" data-appearance="default"
                                                                data-element="main" data-decoded="true">
                                                                <div class="post-list-wrapper blog-widget-recent ">
                                                                    <h3 class="block-title"></h3>
                                                                    <ul class="block-content">
                                                                        <li class="item clearfix 2402">
                                                                            <div class="post-image">
                                                                                <div class="post-image"><a
                                                                                        href="https://hoang-phuc.com/thoi-trang/khac/cach-doc-va-nho-12-so-dinh-danh-tren-cccd-cuc-nhanh-va-de-hieu.html"
                                                                                        title="Cách đọc và nhớ 12 số định danh trên CCCD cực nhanh và dễ hiểu"><img
                                                                                            loading="lazy"
                                                                                            src="https://hoang-phuc.com/media/wysiwyg/blog/cach-doc-va-nho-12-so-dinh-danh-tren-cccd-cuc-nhanh-va-de-hieu-1.jpg"
                                                                                            alt="Cách đọc và nhớ 12 số định danh trên CCCD cực nhanh và dễ hiểu"></a>
                                                                                </div>
                                                                            </div><a class="post-item-title"
                                                                                href="https://hoang-phuc.com/thoi-trang/khac/cach-doc-va-nho-12-so-dinh-danh-tren-cccd-cuc-nhanh-va-de-hieu.html">Cách
                                                                                đọc và nhớ 12 số định danh trên CCCD cực
                                                                                nhanh và dễ hiểu</a>
                                                                        </li>
                                                                        <li class="item clearfix 2399">
                                                                            <div class="post-image">
                                                                                <div class="post-image"><a
                                                                                        href="https://hoang-phuc.com/thoi-trang/khac/valentine-trang-143-la-gi-nguon-goc-va-y-nghia-valentine-trang.html"
                                                                                        title="Vì sao Valentine Trắng lại là ngày 14/3? Nguồn gốc và ý nghĩa ngày Valentine trắng"><img
                                                                                            loading="lazy"
                                                                                            src="https://hoang-phuc.com/media/magefan_blog/valentine-trang-143-la-gi-nguon-goc-va-y-nghia-valentinie-trang.jpg"
                                                                                            alt="Vì sao Valentine Trắng lại là ngày 14/3? Nguồn gốc và ý nghĩa ngày Valentine trắng"></a>
                                                                                </div>
                                                                            </div><a class="post-item-title"
                                                                                href="https://hoang-phuc.com/thoi-trang/khac/valentine-trang-143-la-gi-nguon-goc-va-y-nghia-valentine-trang.html">Vì
                                                                                sao Valentine Trắng lại là ngày 14/3?
                                                                                Nguồn gốc và ý nghĩa ngày Valentine
                                                                                trắng</a>
                                                                        </li>
                                                                        <li class="item clearfix 2396">
                                                                            <div class="post-image">
                                                                                <div class="post-image"><a
                                                                                        href="https://hoang-phuc.com/thoi-trang/meo-hay/cach-chon-quan-jean-nu-dep-phu-hop-voi-dang-nguoi.html"
                                                                                        title="Quần jeans nữ Ecko Unltd. có bao nhiêu fit? Cách chọn quần jeans nữ đẹp và phù hợp với dáng người"><img
                                                                                            loading="lazy"
                                                                                            src="https://hoang-phuc.com/media/wysiwyg/blog/cach-chon-quan-jean-nu-dep-phu-hop-voi-dang-nguoi.jpg"
                                                                                            alt="Quần jeans nữ Ecko Unltd. có bao nhiêu fit? Cách chọn quần jeans nữ đẹp và phù hợp với dáng người"></a>
                                                                                </div>
                                                                            </div><a class="post-item-title"
                                                                                href="https://hoang-phuc.com/thoi-trang/meo-hay/cach-chon-quan-jean-nu-dep-phu-hop-voi-dang-nguoi.html">Quần
                                                                                jeans nữ Ecko Unltd. có bao nhiêu fit?
                                                                                Cách chọn quần jeans nữ đẹp và phù hợp
                                                                                với dáng người</a>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>
<div class="sections nav-sections">
    aaa
</div>