<div class="carousel">
    <div class="list-carousel">
        <div class="item-carousel">
            <img src="/assets/images/slider/slide1.jpg" alt="">
            <div class="content-carousel">
                <div class="author">2B</div>
                <div class="title">Hàng Mới</div>
                <div class="topic">Shoes</div>
                <div class="desc">
                    Hàng mới cập bến 2B Shop
                </div>
                <div class="buttons">
                    <button>Xem thêm</button>
                    <button>Đăng ký</button>
                </div>
            </div>
        </div>
        <div class="item-carousel">
            <img src="/assets/images/slider/slide2.jpg" alt="">
            <div class="content-carousel">
                <div class="author">2B</div>
                <div class="title">Hàng Mới</div>
                <div class="topic">Shoes</div>
                <div class="desc">
                    Hàng mới cập bến 2B Shop
                </div>
                <div class="buttons">
                    <button>Xem thêm</button>
                    <button>Đăng ký</button>
                </div>
            </div>
        </div>
        <div class="item-carousel">
            <img src="/assets/images/slider/slide3.jpg" alt="">
            <div class="content-carousel">
                <div class="author">2B</div>
                <div class="title">Hàng Mới</div>
                <div class="topic">Shoes</div>
                <div class="desc">
                    Hàng mới cập bến 2B Shop
                </div>
                <div class="buttons">
                    <button>Xem thêm</button>
                    <button>Đăng ký</button>
                </div>
            </div>
        </div>
    </div>
    <div class="thumnails">
        <div class="item-thumnails">
            <img src="/assets/images/slider/thumnails1.jpeg" alt="">
            <div class="content-thumnails">
                <div class="title">Giày nike</div>
                <div class="desc">Giày nike nike</div>
            </div>
        </div>
        <div class="item-thumnails">
            <img src="/assets/images/slider/thumnails2.jpeg" alt="">
            <div class="content-thumnails">
                <div class="title">Giày nike</div>
                <div class="desc">Giày nike nike</div>
            </div>
        </div>
        <div class="item-thumnails">
            <img src="/assets/images/slider/thumnails3.jpeg" alt="">
            <div class="content-thumnails">
                <div class="title">Giày nike</div>
                <div class="desc">Giày nike nike</div>
            </div>
        </div>
    </div>
</div>