<div class="row mt-2 home-best-seller">
    <div class="title-post">
        <h1>BÁN <span>CHẠY NHẤT</span></h1>
    </div>
    <div id="sliderCarousePost" class="carousel slide mb-3" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#sliderCarousePost" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#sliderCarousePost" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#sliderCarousePost" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="3000">
                <div class="row prods-post mt-3">
                    <div class="col-md-4 col-sm-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="box-img mb-3">
                                    <img src="https://asset.hankooktire.com/content/dam/hankooktire/au/main/press-release/news_home_20231108_2.jpg"
                                        class="img-thumbnail w-100" alt="...">
                                </div>
                                <div class="card-topic mb-3">Type của
                                    post</div>
                                <div class="card-desc">Tiêu đề của bài viết</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="box-img mb-3">
                                    <img src="https://asset.hankooktire.com/content/dam/hankooktire/au/main/press-release/news_home_2022_0816.jpg"
                                        class="img-thumbnail w-100" alt="...">
                                </div>
                                <div class="card-topic mb-3" style="color: #999;">Type của
                                    post</div>
                                <div class="card-desc">Tiêu đề của bài viết</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="box-img mb-3">
                                    <img src="https://asset.hankooktire.com/content/dam/hankooktire/au/main/press-release/news_home_2022_0816.jpg"
                                        class="img-thumbnail w-100" alt="...">
                                </div>
                                <div class="card-topic mb-3" style="color: #999;">Type của
                                    post</div>
                                <div class="card-desc">Tiêu đề của bài viết</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item" data-bs-interval="3000">
                <div class="row prods-post mt-3">
                    <div class="col-md-4 col-sm-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="box-img mb-3">
                                    <img src="https://asset.hankooktire.com/content/dam/hankooktire/au/main/press-release/news_home_20231108_2.jpg"
                                        class="img-thumbnail w-100" alt="...">
                                </div>
                                <div class="card-topic mb-3" style="color: #999;">Type của
                                    post</div>
                                <div class="card-desc">Tiêu đề của bài viết</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="box-img mb-3">
                                    <img src="https://asset.hankooktire.com/content/dam/hankooktire/au/main/press-release/news_home_2022_0816.jpg"
                                        class="img-thumbnail w-100" alt="...">
                                </div>
                                <div class="card-topic mb-3" style="color: #999;">Type của
                                    post</div>
                                <div class="card-desc">Tiêu đề của bài viết</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="box-img mb-3">
                                    <img src="https://asset.hankooktire.com/content/dam/hankooktire/au/main/press-release/news_home_2022_0816.jpg"
                                        class="img-thumbnail w-100" alt="...">
                                </div>
                                <div class="card-topic mb-3" style="color: #999;">Type của
                                    post</div>
                                <div class="card-desc">Tiêu đề của bài viết</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item" data-bs-interval="3000">
                <div class="row prods-post mt-3">
                    <div class="col-md-4 col-sm-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="box-img mb-3">
                                    <img src="https://asset.hankooktire.com/content/dam/hankooktire/au/main/press-release/news_home_20231108_2.jpg"
                                        class="img-thumbnail w-100" alt="...">
                                </div>
                                <div class="card-topic mb-3" style="color: #999;">Type của
                                    post</div>
                                <div class="card-desc">Tiêu đề của bài viết</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="box-img mb-3">
                                    <img src="https://asset.hankooktire.com/content/dam/hankooktire/au/main/press-release/news_home_2022_0816.jpg"
                                        class="img-thumbnail w-100" alt="...">
                                </div>
                                <div class="card-topic mb-3" style="color: #999;">Type của
                                    post</div>
                                <div class="card-desc">Tiêu đề của bài viết</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="box-img mb-3">
                                    <img src="https://asset.hankooktire.com/content/dam/hankooktire/au/main/press-release/news_home_2022_0816.jpg"
                                        class="img-thumbnail w-100" alt="...">
                                </div>
                                <div class="card-topic mb-3" style="color: #999;">Type của
                                    post</div>
                                <div class="card-desc">Tiêu đề của bài viết</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#sliderCarousePost" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#sliderCarousePost" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>