<div class="row prod-card">
    <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="card">
            <!-- <i class="bi bi-suit-heart-fill"></i> -->
            <div class="cart-heart"> <i class="bi bi-suit-heart"></i></div>
            <!-- <i class="bi bi-cart-check-fill"></i> -->
            <div class="card-cart"><i class="bi bi-cart3"></i></div>
            <div class="card-image">
                <img src="/assets/images/slider/thumnails1.jpeg" alt="">
            </div>
            <div class="card-titles">Giày Nike Air</div>
            <div class="card-price">1.200.000 vnd</div>
            <div class="card-size">
                <p>Size:</p>
                <span>36</span>
                <span>37</span>
                <span>38</span>
                <span>39</span>
            </div>
            <div class="card-color">
                <p>Màu sắc:</p>
                <span class="card-color-red"></span>
                <span class="card-color-blue"></span>
                <span class="card-color-green"></span>
            </div>
            <div class="card-actions">
                <button>Mua ngay</button>
                <button>Xem chi tiết</button>
            </div>
        </div>
    </div>
    <!-- <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="card">
            <!-- <i class="bi bi-suit-heart-fill"></i> -->
    <div class="cart-heart"> <i class="bi bi-suit-heart"></i></div>
    <!-- <i class="bi bi-cart-check-fill"></i> -->
    <div class="card-cart"><i class="bi bi-cart3"></i></div>
    <div class="card-image">
        <img src="/assets/images/slider/thumnails1.jpeg" alt="">
    </div>
    <div class="card-titles">Giày Nike Air</div>
    <div class="card-price">1.200.000 vnd</div>
    <div class="card-size">
        <p>Size:</p>
        <span>36</span>
        <span>37</span>
        <span>38</span>
        <span>39</span>
    </div>
    <div class="card-color">
        <p>Màu sắc:</p>
        <span class="card-color-red"></span>
        <span class="card-color-blue"></span>
        <span class="card-color-green"></span>
    </div>
    <div class="card-actions">
        <button>Mua ngay</button>
        <button>Xem chi tiết</button>
    </div>
</div>
</div>
<div class="col-lg-3 col-md-6 col-sm-12">
    <div class="card">
        <!-- <i class="bi bi-suit-heart-fill"></i> -->
        <div class="cart-heart"> <i class="bi bi-suit-heart"></i></div>
        <!-- <i class="bi bi-cart-check-fill"></i> -->
        <div class="card-cart"><i class="bi bi-cart3"></i></div>
        <div class="card-image">
            <img src="/assets/images/slider/thumnails1.jpeg" alt="">
        </div>
        <div class="card-titles">Giày Nike Air</div>
        <div class="card-price">1.200.000 vnd</div>
        <div class="card-size">
            <p>Size:</p>
            <span>36</span>
            <span>37</span>
            <span>38</span>
            <span>39</span>
        </div>
        <div class="card-color">
            <p>Màu sắc:</p>
            <span class="card-color-red"></span>
            <span class="card-color-blue"></span>
            <span class="card-color-green"></span>
        </div>
        <div class="card-actions">
            <button>Mua ngay</button>
            <button>Xem chi tiết</button>
        </div>
    </div>
</div>
<div class="col-lg-3 col-md-6 col-sm-12">
    <div class="card">
        <!-- <i class="bi bi-suit-heart-fill"></i> -->
        <div class="cart-heart"> <i class="bi bi-suit-heart"></i></div>
        <!-- <i class="bi bi-cart-check-fill"></i> -->
        <div class="card-cart"><i class="bi bi-cart3"></i></div>
        <div class="card-image">
            <img src="/assets/images/slider/thumnails1.jpeg" alt="">
        </div>
        <div class="card-titles">Giày Nike Air</div>
        <div class="card-price">1.200.000 vnd</div>
        <div class="card-size">
            <p>Size:</p>
            <span>36</span>
            <span>37</span>
            <span>38</span>
            <span>39</span>
        </div>
        <div class="card-color">
            <p>Màu sắc:</p>
            <span class="card-color-red"></span>
            <span class="card-color-blue"></span>
            <span class="card-color-green"></span>
        </div>
        <div class="card-actions">
            <button>Mua ngay</button>
            <button>Xem chi tiết</button>
        </div>
    </div>
</div>
<div class="col-lg-3 col-md-6 col-sm-12">
    <div class="card">
        <!-- <i class="bi bi-suit-heart-fill"></i> -->
        <div class="cart-heart"> <i class="bi bi-suit-heart"></i></div>
        <!-- <i class="bi bi-cart-check-fill"></i> -->
        <div class="card-cart"><i class="bi bi-cart3"></i></div>
        <div class="card-image">
            <img src="/assets/images/slider/thumnails1.jpeg" alt="">
        </div>
        <div class="card-titles">Giày Nike Air</div>
        <div class="card-price">1.200.000 vnd</div>
        <div class="card-size">
            <p>Size:</p>
            <span>36</span>
            <span>37</span>
            <span>38</span>
            <span>39</span>
        </div>
        <div class="card-color">
            <p>Màu sắc:</p>
            <span class="card-color-red"></span>
            <span class="card-color-blue"></span>
            <span class="card-color-green"></span>
        </div>
        <div class="card-actions">
            <button>Mua ngay</button>
            <button>Xem chi tiết</button>
        </div>
    </div>
</div> -->
</div>