<div class="row prod-card">
    <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="card">
            <!-- <i class="bi bi-suit-heart-fill"></i> -->
            <div class="cart-heart"> <i class="bi bi-suit-heart"></i></div>
            <!-- <i class="bi bi-cart-check-fill"></i> -->
            <div class="card-cart"><i class="bi bi-cart3"></i></div>
            <div class="card-image">
                <img src="/assets/images/slider/thumnails1.jpeg" alt="">
            </div>
            <div class="card-title">Giày Nike Air</div>
            <div class="card-price">1.200.000 vnd</div>
            <div class="card-size">
                <p>Size:</p>
                <button>36</button>
                <button>37</button>
                <button>38</button>
                <button>39</button>
            </div>
            <div class="card-color">
                <p>Màu sắc:</p>
                <button class="card-color-red"></button>
                <button class="card-color-blue"></button>
                <button class="card-color-green"></button>
            </div>
            <div class="card-actions">
                <button>Mua ngay</button>
                <button>Xem chi tiết</button>
            </div>
        </div>
    </div>
</div>