* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0 auto;
  padding: 0;
  color: #010101;
  font-family: 'SF-UI-Display', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  font-size: 1.4rem;
}