<div class="row prod-card">
    <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="card">
            <!-- <i class="bi bi-suit-heart-fill"></i> -->
            <div class="cart-heart"> <i class="bi bi-suit-heart"></i></div>
            <!-- <i class="bi bi-cart-check-fill"></i> -->
            <div class="card-cart"><i class="bi bi-cart3"></i></div>
            <div class="card-image">
                <img src="/assets/images/slider/thumnails1.jpeg" alt="">
            </div>
            <div class="card-title">Giày Nike Air</div>
            <div class="card-price">1.200.000 vnd</div>
            <div class="card-size">
                <h3>Size:</h3>
                <span>36</span>
                <span>37</span>
                <span>38</span>
                <span>39</span>
            </div>
            <div class="card-color">
                <h3>Màu sắc:</h3>
                <span class="card-color-red"></span>
                <span class="card-color-blue"></span>
                <span class="card-color-green"></span>
            </div>
            <div class="card-actions"></div>
        </div>
    </div>
</div>