<div class="row prod-card">
    <div class="col-lg-4 col-md-2 col-sm-12">
        <div class="card">
            <div class="cart-heart"></div>
            <div class="card-cart"></div>
            <div class="card-image"></div>
            <div class="card-title"></div>
            <div class="card-price"></div>
            <div class="card-size"></div>
            <div class="card-color"></div>
            <div class="card-actions"></div>
        </div>
    </div>
    <div class="col-lg-4 col-md-2 col-sm-12">
        <div class="card">
            <div class="cart-heart"></div>
            <div class="card-cart"></div>
            <div class="card-image"></div>
            <div class="card-title"></div>
            <div class="card-price"></div>
            <div class="card-size"></div>
            <div class="card-color"></div>
            <div class="card-actions"></div>
        </div>
    </div>
    <div class="col-lg-4 col-md-2 col-sm-12">
        <div class="card">
            <div class="cart-heart"></div>
            <div class="card-cart"></div>
            <div class="card-image"></div>
            <div class="card-title"></div>
            <div class="card-price"></div>
            <div class="card-size"></div>
            <div class="card-color"></div>
            <div class="card-actions"></div>
        </div>
    </div>
    <div class="col-lg-4 col-md-2 col-sm-12">
        <div class="card">
            <div class="cart-heart"></div>
            <div class="card-cart"></div>
            <div class="card-image"></div>
            <div class="card-title"></div>
            <div class="card-price"></div>
            <div class="card-size"></div>
            <div class="card-color"></div>
            <div class="card-actions"></div>
        </div>
    </div>
</div>