.carousel {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.carousel .list-carousel .item-carousel {
    position: absolute;
    inset: 0 0 0 0;
}

.carousel .list-carousel .item-carousel img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel .list-carousel .item-carousel .content-carousel {
    position: absolute;
    /* background-color: aqua; */
    top: 20%;
    width: 1140px;
    max-width: 80%;
    left: 50%;
    transform: translateX(-50%);
    padding-right: 30%;
    box-sizing: border-box;
    color: var(--white);
    text-shadow: 0 5px 10px #0004;
}

.carousel .list-carousel .item-carousel .content-carousel .author {
    font-weight: bold;
    letter-spacing: 10px;
}

.carousel .list-carousel .item-carousel .content-carousel .title,
.carousel .list-carousel .item-carousel .content-carousel .topic {
    font-weight: bold;
    font-size: 2em;
    line-height: 1.3em;
}

.carousel .list-carousel .item-carousel .content-carousel .topic {
    color: var(--yellow);
}

.carousel .list-carousel .item-carousel .content-carousel .buttons {
    display: grid;
    grid-template-columns: repeat(2, 130px);
    grid-template-rows: 40px;
    gap: 5px;
    margin-top: 20px;
}

.carousel .list-carousel .item-carousel .content-carousel button {
    border: none;
    background-color: var(--yellow);
    letter-spacing: 3px;
    font-size: 14px;
    font-weight: 500;
    color: var(--black);
}

.carousel .list-carousel .item-carousel .content-carousel button:nth-child(2) {
    background-color: transparent;
    border: 1px solid var(--white);
    color: var(--white);
}

.thumnails {
    background-color: aqua;
    position: absolute;
    bottom: 45px;
    left: 45%;
    width: max-content;
    z-index: 99;
    display: flex;
    gap: 20px;
}