.home-best-seller {
    background-color: #52453b;
}

.home-best-seller .title-post {
    background-color: #6b3f1f;
    padding: 20px;
    text-align: center;
}

.home-best-seller .title-post h1 {
    font-size: 80px;
    font-weight: 500;
    background: linear-gradient(45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 300%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    animation: animateTextBestSeller 5s ease-in-out infinite;
}

.home-best-seller .title-post h1 span {
    font-weight: 300;
    display: block;
}

@keyframes animateTextBestSeller {
    0% {
        background-position: 0 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0 50%;
    }
}