.prod-card {
    background: linear-gradient(to right, #4daf54, #3d8888);
    padding: 25px;
}

.prod-card .card {
    height: 400px;
    background: #272d48;
    padding: 20px;
    color: var(--white);
    position: relative;
}

.prod-card .card .cart-heart {
    position: absolute;
    top: 0;
    left: 0;
}

.prod-card .card .card-cart {
    position: absolute;
    top: 0;
    right: 0;
}